[2017-02-21 19:28] RomanGotsiy opened #1 "Publish as a package"
Publish as a package which users can deploy to their site

[2017-02-21 19:29] RomanGotsiy opened #2 "Refactor css"
Refactor css using [rscss](http://rscss.io/) structure

[2017-02-21 19:30] RomanGotsiy opened #3 "When click on the eye icon make the target ui element blink"
suggested by Nikolai Aleksandrenko

[2017-02-21 19:36] erasche opened #4 "Accept endpoint URL and make POST queries automatically"
It would be nice not to have to make the query and paste the result, even if it requires adding a CORS exception to my server (or deploying my own copy).

(This is partially the result of the size of the introspected schema JSON object, ~6.3 Mb compared to the built-ins which are 800k at most.)

[2017-02-21 19:44] RomanGotsiy opened #5 "Graph is not rendered in FF"

[2017-02-21 19:46] RomanHotsiy opened #6 "Add tests"
Add unit or e2e tests

[2017-02-21 20:40] #5 closed

[2017-02-22 03:40] tlvenn commented on #1
Amazing lib guys, any chance to publish it to npm soon ?

[2017-02-22 06:04] dmnd opened #7 "Edit coords and hide some types"
Thanks for creating this, it looks great!

One feature I'd appreciate is the ability to (a) drag types around, and persist the coords and (b) hide some of the types.

My use case is that I want to use this app as a way to explore my quite complex GraphQL schema. Because it's complex, it benefits from having a human lay things out nicely.

I imagine you could store a map like the following:

[code]

[2017-02-22 10:12] RomanGotsiy opened #8 "Major refactor"
Refactor out all the 💩 after MVP release

[2017-02-22 18:17] sahin opened #9 "Deploy to Cloud"
Amazing lib, great work.

It will be super great if we can have buttons like deploy to azure, deploy to heroku, deploy to xxx

[2017-02-23 09:41] hpoom opened #10 "Custom Introspection to support github gist URLs"
Would be good for large GraphQL responses to be able to do a Custom Introspection from a Github Gist URL as well as pasting into a field.

[2017-02-26 07:38] tuukka opened #12 "Support deep linking"
It would be great to be able to link to a schema or even to a schema element, for example `/[schema]/[root element]/[focus element]?schema_url=data:...`

[2017-02-26 17:17] IvanGoncharov commented on #12
@tuukka Great idea 👍
We just need to figure our how to reference custom schemas inside URLs.
So definitely implement this but after #10

[2017-03-01 16:51] felipesabino opened #13 "TypeError: Cannot read property 'type' of undefined"
## Issue

When running a custom introspection query from live demo, the UI does not allow me to proceed as the button is showing the error

[code]

## Resources

The introspection query (copied from the demo page) and the result can be found at:

- Query:  https://gist.github.com/felipesabino/2be0c0c1c02ec190232790575fa532a3#file-introspection-query-txt
- Result: https://gist.github.com/felipesabi

[2017-03-01 17:53] RomanGotsiy commented on #13
hey @felipesabino.
Thanks for reporting. The issue is caused by bug in relay detection code. I will fix it ASAP.

[2017-03-02 11:04] #13 closed

[2017-03-02 11:06] RomanGotsiy commented on #13
@felipesabino the issue is fixed
you have to untick "Skip Relay" option though to get your graph unchanged.

We will fix this in the future by not showing or disabling "Skip Relay" option for non-relay APIs.

[2017-03-02 13:20] felipesabino commented on #13
Thanks @RomanGotsiy, I just tested and it works fine 👍

[2017-03-07 16:47] RomanGotsiy commented on #2
done

[2017-03-07 16:47] #2 closed

[2017-03-07 16:48] RomanGotsiy commented on #8
done 🎉

[2017-03-07 16:48] #8 closed

[2017-03-08 17:26] Crevil opened #14 "Using custom schema throws Unexpected token u in JSON error"
When trying to run the demo at https://apis.guru/graphql-voyager/ with a custom schema from https://polar-reef-40902.herokuapp.com/graphiql I get the following error in the console.

[code]

The UI tells me that the JSON is valid when pasting the result into `Custom Introspection` field.

Any ideas to get me going? Maybe a bug?

[2017-03-08 20:00] #14 closed

[2017-03-08 20:11] RomanGotsiy commented on #14
@Crevil thanks for reporting.
Should be fixed now

[2017-03-09 18:22] blntylmn opened #15 "Ability to change root on pre-bundled version"
Currently there is no way to change root of graph on pre-bundled version or am I wrong ?

[2017-03-09 18:38] RomanGotsiy commented on #15
@blntylmn yes, you're right. And on non-pre-bundled too.
Will add the property for the next RC.

[2017-03-09 18:41] blntylmn commented on #15
Ok. Search on type list also will be very helpful, especially on large graphs..

[2017-03-09 19:06] RomanGotsiy opened #16 "Search on type list"
suggested by @blntylmn in #15

[2017-03-09 19:06] RomanGotsiy commented on #15
Opened a separate issue for that #16

[2017-03-09 19:09] RomanGotsiy commented on #7
@dmnd thanks for idea and sorry for late response.

We don't have such plans in the nearest future as graph is rendered using `viz.js` and it doesn't have simple ways how to implement this.
We have an idea how to implement this with small efforts though. I will let you know once we verify it.

[2017-03-09 19:10] blntylmn commented on #15
thanks

[2017-03-09 19:13] RomanGotsiy commented on #4
@erasche we will definitely add such possibility soon.
But maybe you'll be interested in deploying voyager directly to your server. Check out [README](https://github.com/APIs-guru/graphql-voyager#usage) for details

[2017-03-09 19:14] RomanGotsiy commented on #1
@tlvenn we've published the first rc.0 release.

Check it out and let us know if you have any issues with it.

[2017-03-10 04:51] tlvenn commented on #1
Awesome, thanks guys !

[2017-03-10 16:56] OlegIlyenko commented on #1
Thanks for the awesome work! I tried to use rc.0 in another project (graphiql-workspace), but faced some issues. It would be great if you could look at it:

https://github.com/OlegIlyenko/graphiql-workspace/issues/17#issuecomment-285722182

[2017-04-12 15:20] joserochadocarmo opened #19 "Import by nginx or CDN"
Why can not I import from a CDN or NGINX?
[code]
Error:
Uncaught DOMException: Failed to construct 'Worker': Script at 'https://apis.guru/graphql-voyager/releases/v1.x/voyager.worker.js' cannot be accessed from origin 'http://localhost:3000'.

[2017-04-20 02:22] jvallarvisp opened #20 "Uncaught SyntaxError: Unexpected token <"
Uncaught SyntaxError: Unexpected token < voyager.worker.js:1

[code]

[2017-04-25 21:49] orefalo opened #21 "Command line launcher"

[2017-04-27 06:33] RomanGotsiy commented on #20
@jvallarvisp sorry for long reply. We are busy with other projects right now.
I will investigate and let you know ASAP.

[2017-04-27 06:33] RomanGotsiy commented on #19
@joserochadocarmo sorry for long reply. We are busy with other projects right now.
I will investigate and let you know ASAP.

[2017-05-03 10:00] IvanGoncharov commented on #21
@orefalo A few questing to clarify your feature request.
Do you want CLI command which launches a local version of our demo(https://apis.guru/graphql-voyager/)?
Or you want CLI command where you pass IDL or URL to your server as arguments and it starts local server which displays only your API?

[2017-05-03 14:58] orefalo commented on #21
Ideally a cli command which takes a Json or IDL schema definition would do.

To extend on the feature request, the file pointer could also be a URL, but this could be done with wget. nice to have, not must have

Thank you. Love the tool.

[2017-05-15 14:37] lostplan opened #22 "Remove use of `eval` in worker"
The worker.min.js file is being rejected by my site's Content Security Policy for use of `eval`.

The only workaround is to add 'unsafe-eval' to the 'script-src' directive, which is not good practice at all.

[2017-05-23 09:33] Michael-Hofer opened #23 "displayOptions.skipRelay not evaluated?!"
Following the readme I'd assume I can set displayOptions when rendering _Voyager_ in the body.
Based on the index.html from the sample I have the following code:
[code]
The rendering works fine, but the _skipRelay: false_ option is not considered (_rootType_ and _sortByAlphabet_ are not considered also).
Is something wrong with the _init_ given above or is this a bug?

[2017-05-24 13:33] RomanGotsiy commented on #23
Which voyager version are you using?

[2017-05-24 13:59] RomanGotsiy commented on #20
@jvallarvisp I guess you may be getting 404 page.
Could you check from developers tools => network tab what is the response for `voyager.worker.js`

[2017-05-24 16:09] Michael-Hofer commented on #23
I am using version graphql-voyager-1.0.0-rc.0 from the releases page (the files from the dist folder)

[2017-05-24 16:11] RomanGotsiy commented on #23
This was a bug in the Readme.
These options were landed in rc.1
Use 1.0.0-rc.3, please.
I have updated README

[2017-05-24 16:11] #23 closed

[2017-05-29 12:31] Michael-Hofer commented on #23
Thanks for the advice.
It works fine now with rc.3

[2017-06-05 09:45] RomanGotsiy commented on #19
@joserochadocarmo could you check with the latest version?
I changed worker to load over XHR so should support CORS now

[2017-06-05 12:00] joserochadocarmo commented on #19
Work!!! Thanks a lot man!!!

[2017-06-05 12:00] #19 closed

[2017-06-16 20:59] VinzentE opened #25 "query - but how?"
Hi there,

I love the tool! Very nice way of visualizing a schema. I am quite new to GraphQL and run into an issue:

Whenever I try to create some sort of **introspection query** and copy it into the "custom schema" field, I am presented with **different errors** like "TypeError: Cannot read property 'map' of undefined", "TypeError: Cannot read property 'types' of undefined" or similar. Even the o

[2017-06-17 18:18] IvanGoncharov commented on #25
Hi @VinzentE,

You need to clink on `Copy Introspection Query` link and it will be automatically copied into the clipboard. See this picture:
![image](https://user-images.githubusercontent.com/8336157/27255192-f3fb3908-53a1-11e7-91a6-89ff289a8b83.png)

[2017-06-17 18:18] #25 closed

[2017-06-29 17:48] steplov opened #26 "Middleware for Node.js frameworks"
Hello everybody,

What are you thinking about the idea to add middleware for frameworks like express, koa etc in the same way as apollographql does for graphiql ?
I can take care about this.

[2017-06-30 03:03] hmontes commented on #26
Good idea!

[2017-06-30 19:16] steplov commented on #26
Ok, fine. Then i will start with the first implementation and later we can discuss how to integrate it to the project.

[2017-07-06 08:10] RomanGotsiy commented on #26
@steplov it would be awesome! Let me know if you need any assistance.

[2017-07-06 17:00] steplov commented on #26
@RomanGotsiy Hi. I'm almost done with middlewares for express, koa and hapi. But the question is how do you want to distribute them? As for me, the best way is to have monorepo with separate packages for each middleware.

[2017-07-10 03:32] bradzacher opened #27 "add ability to hide schemas"
I'd love to be able to hide individual schemas (plus their connections) from the view.

The biggest use case is hiding the root query from the view.
Right now we have 20 queryable entities, which means there's 20 (redundant) links on the UI from just that.

I'd like to hide it so that we can make it easier to understand.

[2017-07-10 20:09] steplov commented on #26
@RomanGotsiy , @hmontes hi. I added the first implementation for middleware. Lets review it and discuss what we can improve

[2017-07-12 13:45] IvanGoncharov commented on #27
@bradzacher It's definitely something we need to think about.
As a possible workaround, you can choose different root types for the graph, see this screenshot:
![image](https://user-images.githubusercontent.com/8336157/28120698-715b65b6-6721-11e7-8ec4-197a5bc25252.png)

[2017-07-15 20:33] #26 closed

[2017-07-18 20:44] theogravity opened #29 "Graph view not rendering"
- Using express middleware
- Using graphql-voyager 1.0.0-rc5
- Tried using Chrome / Safari

When I hit the graphql voyager endpoint, the sidebar loads properly, but the main view gets stuck on "Transmitting..."

![image](https://user-images.githubusercontent.com/855434/28338803-e7e16310-6bbe-11e7-96e5-98c3823f2c4f.png)

In the JS console, I get `blob:http://localhost:4000/427b21a8-5a9a-4f6f-8baf-4

[2017-07-19 07:34] IvanGoncharov commented on #29
@theogravity Can you reproduce it on the [online demo](https://apis.guru/graphql-voyager/)(use `Custom Schema` option)?
Can you please attach result of introspection query for your API?

I will check but the only difference between `rc4` and `rc5` is a presence of middleware.

[2017-07-19 20:12] steplov commented on #29
Hello, i can confirm the bug. It happens only with rc.5 version. Agree that need some investigation

[2017-07-20 00:39] theogravity commented on #29
I have no problems with the online demo.

I unfortunately can't paste my introspection as it would give away something we're working on at work that's secret right now.

[2017-07-20 08:00] IvanGoncharov commented on #29
@steplov Make sense since I forget to update online demo and it still on `rc.4`.

[2017-07-20 14:45] awdDev786 commented on #29
can you resolve the issue?as i m also having the same issue +

       Error: Can't set headers after they are sent.

On node console.

[2017-07-21 00:13] theogravity commented on #29
unsure if it matters but my express ver is `4.15.3`

[2017-07-21 14:52] RomanGotsiy commented on #29
The issue was caused by upgrading `viz.js` to `1.8.0`.
Temporarily I downgraded it back to `1.7.1` and published a new version of voyager: `1.0.0-rc.7`.

Thanks all for participation!

[2017-07-21 14:52] #29 closed

[2017-07-21 18:18] theogravity commented on #29
Thanks, it works!

[2017-07-22 17:07] hmontes commented on #26
I tested today your implementation. CONGRATULATIONS !! Very awesome tool 👍

[2017-07-23 02:25] david-cheney-pd commented on #7
I'll add my vote for this.   I want to present my information architecture as a story and to have the graph flow represent that story.  For example, I have an interface that exposes a universally unique object id with multiple attributes.  The current graph places that interface far to the right.  I'd like to manually move it all the way to the left and to introduce my system by explaining that ev

[2017-07-25 13:43] dflor003 commented on #29
I'm still getting this in `1.0.0-rc.7`:

![image](https://user-images.githubusercontent.com/103017/28575030-bc318c2c-711d-11e7-8d9e-dea3828f2d08.png)

[2017-07-30 10:38] jillcarter1987 opened #30 "KEL M"
{
  "swagger": "2.0",
  "schemes": [
    "http"
  ],
  "host": "sts.amazonaws.com",
  "basePath": "/",
  "x-hasEquivalentPaths": true,
  "info": {
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "description": "<fullname>AWS Security Token Service</fullname> <p>The AWS Security Token Service

[2017-07-31 08:43] #30 closed

[2017-08-03 13:08] hepin1989 opened #31 "no dist folder in the release"
When I integrate it with the download link https://apis.guru/graphql-voyager/releases/v1.0.0-rc.7/voyager.min.js and the worker.js. at https://apis.guru/graphql-voyager/releases/v1.0.0-rc.7/voyager.worker.js and Then I got only this...
No graph,
And there is no dist folder in the released zip.

![image](https://user-images.githubusercontent.com/501740/28923123-832d6d5a-788f-11e7-9c82-4abfcca91113.

[2017-08-03 13:10] RomanGotsiy commented on #31
Could you send the output from your browser console?

[2017-08-10 00:12] Stoom opened #32 "Does not display mutation queries."
Using the graphql-cli-voyager plugin I noticed that it only shows `query` graphs and is missing `mutation` graphs.

[2017-08-10 14:14] IvanGoncharov commented on #32
@Stoom Thank you for the feedback
We need to add a floating menu for settings so you switch between query and mutation.
As a temporary workaround, you can use our [online demo](https://apis.guru/graphql-voyager/) that has to drop down to select root type.

[2017-08-16 03:33] praveensastry commented on #16
Hi @RomanGotsiy , I am using this awesome tool, and i found that the ability to search on type list is really handy. I would like to assign this to myself if this is still open.

[2017-08-16 12:19] RomanGotsiy commented on #16
@praveensastry, it would be awesome. Thanks!

[2017-08-26 19:15] Andresbu commented on #31
Same here. Examples do not run. Dist folder is missing. I.e ./node_modules/graphql-voyager/dist/voyager.min.js

[2017-08-27 12:27] IvanGoncharov commented on #31
@Andresbu I checked both locally and through NPM CDN:
https://unpkg.com/graphql-voyager/dist/voyager.min.js
And dist folder is inside `1.0.0-rc.7` NPM package.
Can you please look inside `package.json` and report which version you are using?

[2017-08-31 18:39] kayvannj opened #34 "Generate Query based on selected objects or fields"

[2017-08-31 19:13] IvanGoncharov commented on #34
@kayvannj Great idea! 🎉
Definitely, something that we want to implement in the future.

[2017-09-07 05:05] fangjj opened #35 "displayOptions not work in graphql-voyager/middleware"
displayOptions not work in graphql-voyager/middleware.
[code]

[2017-09-07 18:59] #35 closed

[2017-09-07 19:01] IvanGoncharov commented on #35
@fangjj Implemented in `v1.0.0-rc.8`, can you please test it?

[2017-09-07 22:58] fangjj commented on #35
nice, i‘m willing to test it.

[2017-09-11 19:34] Kosta-Github opened #36 "update peer dep of graphql to 0.10.x or 0.11.x"
you are already using `graphql` in version `0.10.5` as `dev dep`, but the `peer dep` is still `0.9.x`, can you update the `peer dep` to also work with `0.10.x` and `0.11.x`, please?

[2017-09-11 20:40] #36 closed

[2017-09-11 20:42] IvanGoncharov commented on #36
@Kosta-Github Just released `1.0.0-rc.9` with `>=0.9.0` as allowed versions.
Can you please test it?

[2017-09-12 07:14] Kosta-Github commented on #36
👍

[2017-09-14 17:52] hepin1989 commented on #31
@RomanGotsiy

[code]

[2017-09-14 19:18] IvanGoncharov commented on #31
@hepin1989 Can you please try it on `1.0.0-rc9`?

[2017-09-19 11:03] ecerroni opened #37 "Feature: show input types"
This tool is awesome! Are you planning to parse input types as well?

[2017-09-19 14:21] IvanGoncharov commented on #37
@ecerroni Thank you for feedback 👍
What kind of visualization you have in mind?
Do you want input types to be represented on the graph or only on documentation panel?

[2017-09-19 16:17] ecerroni commented on #37
Mhm, good question. I guess having them on both the graph and the documentation panel would be great.

However it depends on you as a maintainer. This is obviously not critical and I consider it as at the same level of the feature request about having a switching button for Query vs Mutation.

Voyager is already terrific! Thus you know best what to prioritize on the roadmap :)

[2017-09-27 19:40] johndpope opened #38 "enhancement - allow import by .graphql file"
I tried copying and pasting output from graphql   get-schema but no joy.
should be easier to import.

[2017-10-02 09:32] IvanGoncharov commented on #38
@johndpope Great idea 👍
We will definitely implement it for the `1.0.0` release.

[2017-10-02 19:50] RomanGotsiy commented on #31
Closing for inactivity. Feel free to reopen in case the issue remains

[2017-10-02 19:50] #31 closed

[2017-10-02 19:51] #20 closed

[2017-10-03 11:22] RomanGotsiy opened #39 "feature: ability to change styles of types/fields/edges"

[2017-10-03 11:28] RomanGotsiy commented on #21
It is already implemented by [graphql-cli-voyager](https://github.com/graphcool/graphql-cli-voyager)

[code]
setup according to the docs of [graphql-cli](https://github.com/graphcool/graphql-cli) and just run

[code]

[2017-10-03 11:28] #21 closed

[2017-10-03 11:30] RomanGotsiy commented on #32
Closing in favor of #15

[2017-10-03 11:30] #32 closed

[2017-10-03 11:35] RomanGotsiy commented on #6
Test the selector for generating svg + mb perceptual diff

[2017-10-03 11:38] RomanGotsiy commented on #4
It is already implemented in the demo. Use `url` query param. It doesn't support authorization headers though.

For example:
https://apis.guru/graphql-voyager/?url=https://mpjk0plp9.lp.gql.zone/graphql

[2017-10-24 16:24] Harmonickey commented on #37
This would be super valuable, as icing on the cake here.

[2017-10-26 05:46] pungggi opened #40 "Enable Data modelling"
Hi this Tool looks awesome!
Do you see a chance to make it editable so that the type definitions are updated from within the voyager ?

[2017-10-26 13:01] reines opened #41 "Feature: Display option to hide interface fields on implementations"
With any moderately complex graph using interfaces, duplication of the fields on all implementations of the interface causes the visualisation to become overly complicated and full of (arguably) redundant relationships.

For example, take the following screenshot:
<img width="1106" alt="screen shot 2017-10-26 at 13 02 46" src="https://user-images.githubusercontent.com/349402/32051837-19d706e4-ba4e

[2017-10-26 14:31] hepin1989 opened #42 "build rc7 error on Mac"
[code]

[2017-10-30 12:56] philippeLepage commented on #42
Same with **node 7** :

0 info it worked if it ends with ok
1 verbose cli [ '/Users/lepp010/.nvm/versions/node/v7.7.3/bin/node',
1 verbose cli   '/Users/lepp010/.nvm/versions/node/v7.7.3/bin/npm',
1 verbose cli   'run',
1 verbose cli   'build:release' ]
2 info using npm@5.3.0
3 info using node@v7.7.3
4 verbose run-script [ 'prebuild:release', 'build:release', 'postbuild:release' ]
5 info lifecycle

[2017-10-30 12:57] philippeLepage commented on #42
same with **node 8** :

0 info it worked if it ends with ok
1 verbose cli [ '/Users/lepp010/.nvm/versions/node/v8.8.1/bin/node',
1 verbose cli   '/Users/lepp010/.nvm/versions/node/v8.8.1/bin/npm',
1 verbose cli   'run',
1 verbose cli   'build:release' ]
2 info using npm@5.4.2
3 info using node@v8.8.1
4 verbose run-script [ 'prebuild:release', 'build:release', 'postbuild:release' ]
5 info lifecycle

[2017-11-08 22:27] Ewan-Keith opened #43 "Feature: Docker Image of minimal html page"
Are there any plans to develop a docker image of the basic html page showcasing voyager? This would be helpful for managing more flexible deployments of the tool without having to worry about the host.

[2017-11-10 09:51] IvanGoncharov commented on #43
@Ewan-Keith Great idea!
The problem is that we have almost no experience with Docker so PRs are welcome.

[2017-11-10 09:52] IvanGoncharov commented on #42
@hepin1989 @philippeLepage Sorry for the delay it was a pretty busy month for us.
I will try to investigate this on weekend.

[2017-11-12 18:24] LarsKrogJensen opened #44 "Using as a dependency"
graphql-voyager 1.0.0-rc.9

I am trying to use this amazing component in a basic create-react-app but it is stuck on 'transmitting', the schema in the left sider loads fine though.

The chrome console logs a 'Uncaught SyntaxError: Unexpected token <'.

Here is a repo that reproduces the issue: https://github.com/LarsKrogJensen/voyager-issue44

The docs state a paragraph that I don't understand:
_I

[2017-11-22 14:10] #42 closed

[2017-11-22 14:11] RomanGotsiy commented on #42
@hepin1989 @philippeLepage should be fixed now. Could you please verify?

[2017-11-22 14:50] RomanGotsiy commented on #44
Hey @LarsKrogJensen, thanks for detailed issue report and sorry for late reply!

the reason for this issue is that Voyager tries to load `voyager.worker.js` but react-scripts return 404 page instead. I've checked docs for `react-scripts` and it seems GraphQL Voyager can't be used with it right now.

I will try to fix during next 1-2 days.

[2017-11-22 16:12] LarsKrogJensen commented on #44
That would be awesome, many thanks in advance.

[2017-11-23 16:08] LarsKrogJensen commented on #44
Lovely, now it works like a charm, closing the issue.

[2017-11-23 16:08] #44 closed

[2017-11-27 14:06] philippeLepage commented on #42
@RomanGotsiy   I've tried it and it works now.  Thank you very much.

[2017-12-12 10:51] arquio opened #47 "FR: Skip Deprecated Elements in Graph"
As Relay option...

Thanks!

[2017-12-15 23:21] karoun opened #48 "Middleware does not export TypeScript declarations"
Thank you for building such useful tooling for the GraphQL community! One enhancement for users of TypeScript:

The `build:middleware` NPM script should pass `tsc --declaration` so `.d.ts` files will be generated for library consumers.

See also: the [Publishing](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) section of the TypeScript handbook

[2017-12-18 10:48] piotrgorecki opened #49 "Wrong place for exclamation mark"
In my schema I have `groups: [CustomerGroup!]`, but Voyager display it as "groups: [CustomerGroup **]!**".
The opposite case, when I set in the schema `groups: [CustomerGroup]!`, the Voyager shows it as "groups: [CustomerGroup **!]**"

[code]

[code]

[2017-12-18 18:45] #48 closed

[2017-12-18 18:45] #49 closed

[2017-12-18 18:57] IvanGoncharov commented on #49
@piotrgorecki Good catch  🐞 🔍
Fixed in `1.0.0-rc.11` and demo.

[2017-12-18 19:00] IvanGoncharov commented on #48
@karoun Great idea 👍 And thanks for the link.
`1.0.0-rc.11` 📦  now ships with TS typings 🎉

[2017-12-19 10:27] piotrgorecki commented on #49
Thanks @IvanGoncharov! Now it works correctly.

[2018-01-19 00:39] amilajack opened #51 "webpack-example throws react error"
[code]

[2018-02-09 15:32] cabello opened #52 "Ability to customize presets with custom endpoints"
Hi ❤️❤️❤️ !!! This gem is awesome and will be a game changer, I've used the live demo with custom schemas a few times already.

We run a microservices architecture and we are slowly moving the APIs from REST to GraphQL and I am considering having an internal version of Voyager running so anyone in our organization can introspect and learn about the APIs we have available.

It seems like the preset

[2018-02-10 01:10] cjmaio opened #53 "Add ability to add options to the fetch request in loadWorker"
In cases where you may be behind a single sign on provider, you might need to pass additional options to the `fetch` request inside of `loadWorker`, such as:
[code]
Right now there is no way to do that other than potentially shimming `fetch` globally, which doesn't work for the web worker.

[2018-02-10 13:41] IvanGoncharov commented on #53
@cjmaio Don't like to add new options but your use totally makes sense 👍
What do you think about adding `loadWorker` callback to the `Voyager` tag?

[2018-02-10 13:58] IvanGoncharov commented on #52
@cabello We planned to move all options to float menu, see: https://github.com/APIs-guru/graphql-voyager/issues/32#issuecomment-321563571
After this will be done "landing page" will have only buttons for presets and "Custom introspection".
As I understand "Custom introspection" doesn't make sense in your use case so what will be left is a very simple component with a couple of buttons.

So I think

[2018-02-12 15:58] cjmaio commented on #53
I've opened a PR - this is my first time with TypeScript so I welcome any suggestions.

[2018-02-12 16:40] IvanGoncharov commented on #53
@cjmaio Thanks for PR 👍
Merged and released as `1.0.0-rc.12` 📦

[2018-02-12 16:40] #53 closed

[2018-02-16 01:10] ralphchristianeclipse opened #55 "Undefined GraphQL Voyager in express middleware"
![image](https://user-images.githubusercontent.com/25447231/36289102-18d58988-12f9-11e8-87e2-36f62245026a.png)

I did this

import { express as middleware } from "graphql-voyager/middleware";

app.use("/voyager", middleware({ endpointUrl: "/graphql" }));

but it doesn't work

[2018-02-16 01:13] ralphchristianeclipse commented on #55
i think its because of this

https://cdn.jsdelivr.net/npm/graphql-voyager@1.0.0-rc.12/dist/voyager.min.js

![image](https://user-images.githubusercontent.com/25447231/36289184-a0950538-12f9-11e8-980a-6038c4b515a6.png)

[2018-02-16 04:26] IvanGoncharov commented on #55
@ralphchristianeclipse Thank you for investigation. I will try to fix it in the morning 🛌 💤

[2018-02-16 10:43] #55 closed

[2018-02-16 10:45] IvanGoncharov commented on #55
@ralphchristianeclipse Fixed in 1.0.0-rc.14 📦
https://cdn.jsdelivr.net/npm/graphql-voyager@1.0.0-rc.14/dist/voyager.min.js

[2018-02-16 16:01] ralphchristianeclipse opened #56 "Illegal return statement"
![image](https://user-images.githubusercontent.com/25447231/36316613-ba13d94a-1375-11e8-8e12-ce4fbb3a9e04.png)

Ok the loading bug on js cdn is fixed another bug comes out

[2018-02-18 16:05] IvanGoncharov commented on #56
@ralphchristianeclipse Should be fixed in `1.0.0-rc.15`
Can you please confirm that it's working for you?

[2018-02-18 16:06] IvanGoncharov commented on #22
Fixed in `1.0.0-rc.15` 📦

[2018-02-18 16:06] #22 closed

[2018-02-19 14:49] ralphchristianeclipse commented on #56
![image](https://user-images.githubusercontent.com/25447231/36383449-1f829bec-15c7-11e8-89ba-d825ba6bac9d.png)

works now thanks

[2018-02-19 14:49] #56 closed

[2018-02-19 14:55] IvanGoncharov commented on #56
@ralphchristianeclipse Thanks for the patience and detailed reports.

BTW. If you decide to make your API public please consider adding it to this list:
https://github.com/APIs-guru/graphql-apis

[2018-02-19 22:59] inakianduaga commented on #7
This would be awesome, I'm currently hacking (abusing) this project to use it as an AWS architecture visualization tool, and moving types and persisting changes would be amazing. However as mentioned it might be hard to do, still looking into the `viewport.ts` implementation

[2018-02-21 10:31] ralphchristianeclipse commented on #56
@IvanGoncharov will do but this one is private :)

[2018-03-16 10:50] peet86 opened #57 "feature: ability to copy field lists"
**Feature:**
copy to clipboard functionality (for the field list)

While you develop queries on the frontend  for a GraphQL endpoint it would be handy to be able to copy field names directly from voyager to your queries..
At the moment this is painful because of the svg rendering.

**Proposed solution:**
A "copy button" (small clipboard icon in the top right corner of the boxes) which copies all t

[2018-03-16 15:24] IvanGoncharov commented on #57
We trying to keep graph view as clean as possible.
How about adding it to the left panel, on the right side of `fields`:
![image](https://user-images.githubusercontent.com/8336157/37520901-7533abee-2927-11e8-91d0-5f034a4f4430.png)

[2018-03-16 15:54] peet86 commented on #57
I'm fine with that place too. PR is coming soon!

[2018-03-16 18:10] IvanGoncharov commented on #57
@peet86 Looking forward to your PR!

[2018-03-20 14:29] sgaseretto opened #58 "How to use the pre-bundled version"
I don't know exactly how to use the prebundled version, I tried the following so far

[code]

What else do I need to do, if I want to use only de CDNs

[2018-03-21 17:01] IvanGoncharov commented on #58
@sgaseretto I updated example to use only CDN links:
https://github.com/APIs-guru/graphql-voyager/blob/master/example/index.html
Can you please test it?

[2018-03-21 17:43] sgaseretto commented on #58
I just added my endpoint ```http://127.0.0.1:8000/graphql``` again to the new code and it still doesn't work. Probably there is something else I need to do, but I don't know what

[2018-03-21 19:00] IvanGoncharov commented on #58
@sgaseretto Can you open dev tools and make a screenshot of the console?

[2018-03-21 19:00] IvanGoncharov commented on #58
@sgaseretto If you use HTTP you probably need to remove this line:
[code]

[2018-03-21 22:18] sgaseretto commented on #58
This are the errors I'm getting
<img width="1280" alt="captura de pantalla 2018-03-21 a la s 19 17 21" src="https://user-images.githubusercontent.com/6946040/37740463-9c907b7c-2d3c-11e8-90e7-7f6364168d27.png">

[2018-03-22 09:10] RomanGotsiy commented on #58
@sgaseretto you are opening page from file-system, that's why `//` in the url is treated as `file:///`.
To fix the issue add `http://` to script urls:

    <script src="https://cdn.jsdelivr.net/react/15.4.2/react.min.js"></script>
    <script src="https://cdn.jsdelivr.net/react/15.4.2/react-dom.min.js"></script>

and same for other scripts

[2018-03-22 13:11] sgaseretto commented on #58
You were right! Now it seems I'm having a problem with my server
<img width="355" alt="captura de pantalla 2018-03-22 a la s 09 43 54" src="https://user-images.githubusercontent.com/6946040/37771224-b55a5938-2db5-11e8-91ac-893b95790c75.png">
While I figure out what's happening (maybe something related to CORS, despite my backend accepts requests from any IP) how can I modify the bundled version so

[2018-03-22 15:49] IvanGoncharov commented on #58
@sgaseretto It's because you are opening HTML as file that's why browser can't set `Origin` header.
You should host it somewhere, e.g. run local http server `python -m SimpleHTTPServer`
http://2ality.com/2014/06/simple-http-server.html

[2018-03-22 15:51] IvanGoncharov commented on #58
@sgaseretto If you just want to use it locally, try our demo:
https://apis.guru/graphql-voyager/
You can select "Custom introspection" like here:
![image](https://user-images.githubusercontent.com/8336157/37781599-acfe7a8c-2df9-11e8-80c7-6d12d5bd6643.png)

[2018-04-06 12:29] antoninadert commented on #34
I really believe this is the next step.
Another step would be to let users create a new table with new fields and types directly from Voyager.

This would make it a similar solution to what Access was. Making the user create API graphically.

Do you think this is something possible ? (With this current issue as a prerequisite)

[2018-04-13 02:34] kumakichi commented on #15
Hi guys, i just came across the same problem

through #32 , i got the online demo, and make a little change to this demo, maybe you can have a try:

https://github.com/kumakichi/graphql-voyager-example

[2018-04-29 11:54] clemens-tolboom commented on #16
Any result?

[2018-05-04 16:00] kub1x opened #59 ""Change introspection" button missing on npm version."
Hey, probably a lame question. I've installed raphql-voyager via npm, but I don't see the "Change introspection" button. I see only graph for Query, but can't switch to Mutation view, which is what I thought the button is for. I could probably change it using `displayOptions.rootType`, but that would mean exposing two instances of voyager to see both Query and Mutation, right..?

[2018-05-05 19:51] #58 closed

[2018-05-05 19:52] IvanGoncharov commented on #58
I'm closing this stale issue.

[2018-05-05 20:00] IvanGoncharov commented on #59
@kub1x Yes you right. We added "Change introspection" to showcase different APIs in Voyager and just added other settings there because it was easier.
As a proper solution, we want to add the floating menu with all settings on the main screen. Don't have any estimates but we still plan to work on it.
I'm closing this issue since it's duplication of #15

[2018-05-05 20:00] #59 closed

[2018-05-09 00:02] jamesnmcdowell opened #60 "Koa documentation error"
`import { koa as middleware } from 'graphql-voyager/middleware';
router.all('/voyager', voyagerMiddleware({
  endpointUrl: '/graphql'
}));`

voyagerMiddleware does not match up with what is voyager is imported as. voyagerMiddleware should be simply middleware.

[2018-05-09 02:18] mydearxym commented on #1
any progress on this?

[2018-05-09 10:15] #60 closed

[2018-05-09 10:18] IvanGoncharov commented on #60
@jamesnmcdowell Thanks for reporting 👍
All samples now use `voyagerMiddleware` 🎉
I also updated entire middle section hope its become cleaner after that.

[2018-05-09 10:25] IvanGoncharov commented on #1
@mydearxym Yes it's already published on NPM: https://www.npmjs.com/package/graphql-voyager
Documented here: https://github.com/APIs-guru/graphql-voyager#using-as-a-dependency

Plus you can use Express, Hapi, Koa middleware:
https://github.com/APIs-guru/graphql-voyager#using-as-a-dependency

@RomanGotsiy It probably makes sense to close this issue?

[2018-05-10 09:16] mydearxym commented on #1
thanks @IvanGoncharov , but i can't run voyager with [next.js](https://github.com/zeit/next.js) project, maybe it's the config issue , i will check it later

[2018-05-12 03:36] Charius opened #61 "Angular integration"
Is there any way to integrate this incredible tool into angular project?

I mean there is some info about integration into react project, but nothing about angular

[2018-05-12 09:01] RomanGotsiy commented on #1
@IvanGoncharov yes, closing this

@mydearxym open a separate issue for this!

[2018-05-12 09:01] #1 closed

[2018-05-12 09:11] IvanGoncharov commented on #61
@Charius I personally never used Angular so I can't answer this question.
If you find a working solution I would happily merge PR that adds `Angular` section to the `README.md`.

[2018-05-12 09:31] RomanGotsiy commented on #61
It can't be used without React as it is a React component.

But it can be used with Angular the same way as any other React component can be used with Angular, e.g. you can use [`ReactDOM.render`](https://reactjs.org/docs/integrating-with-other-libraries.html#integrating-with-other-view-libraries) in Angular component [`AfterViewInit` hook](https://angular.io/api/core/AfterViewInit):

[code]

I ha

[2018-05-14 04:31] Charius commented on #61
@RomanGotsiy thanks, will try to integrate to simple angular project

[2018-05-17 06:44] Charius commented on #61
got some kind of luck, but it seems to be worker.js config required, and I'm kinda stuck here

[2018-05-17 07:00] RomanGotsiy commented on #61
what the worker.js config? Does it throw any error? Maybe I can help

[2018-05-17 07:43] Charius commented on #61
the very first error message posts in console `GET http://localhost:4200/voyager.worker.js 404 (Not Found)`

I know that I can configure workerURI or loadWorker when call `React.createElement`, and I need to figure out how can I import voyager.worker.js into wrapper component and then return it via Promise inside `loadWorker` callback

[2018-05-17 07:50] Charius commented on #61
I guess I should try add worker file in angular.json or just use require to obtain it from dist directory

[2018-05-17 08:05] RomanGotsiy commented on #61
@Charius you can try adding worker to assets files in `angular.json` and then configure location via workerURI or you can try using `file-loader`, like this:

[code]

`file-loader` should emit file to dist directory and you'll get URI in `myWorkerURI`.
Haven't tested it though

[2018-05-17 08:41] Charius commented on #61
And btw while doing all this stuff I faced with the problem from https://github.com/graphql/graphql-js/issues/1344

[2018-05-17 20:45] NewToStuff commented on #61
To help on the documentation for the Angular section I had to change the first line of @RomanGotsiy s code to the following as ElementRef needs to be imported.

import { Component, ElementRef } from '@angular/core';

[2018-05-18 02:42] Charius commented on #61
@NewToStuff Hi there!

In the result about wrapper for voyager I've got something like this:

The component file:

[code]

angular.json in projects => %project_name% => architect => build => options

[code]

`introspectionProvider` is just a function that returns result of `fetch` request to api

[2018-05-18 12:15] NewToStuff commented on #61
Thanks @Charius that is really helpful. Got myself confused about how you have set up the introspectionProvider function. It is in a separate typeScript file? How does the structure look?

[2018-05-18 13:17] RomanGotsiy commented on #61
@NewToStuff @Charius it is not recommended to import `introspectionProvider` from the package as it is internal and may be removed/renamed/moved in the future.

Just write your own, e.g.:

[code]

[2018-05-18 14:41] NewToStuff commented on #61
Thanks @Charius @RomanGotsiy . I am having a "brain fade" as all my application is in classes and I don't have isolated functions like this. When I am doing the import for the typeScript file which just contains the function above it is complaining that the file being imported is not a module.  I will try to get the bottom of it..

[2018-05-19 12:06] Charius commented on #61
@RomanGotsiy I've wrote own provider function, and import is from my file. Anyway thanks for clarification

[2018-05-22 18:18] acrogenesis commented on #40
I imagine the output could be in GraphQL SDL

[2018-05-24 10:11] ch3ckmat3 opened #62 "Ability to save as SVG or Hi-Res PNG"
Don't know if already planned but requesting anyways :)

[2018-05-24 12:39] IvanGoncharov commented on #62
@ch3ckmat3 Sounds cool 👍

[2018-05-24 22:40] NewToStuff commented on #61
Thanks @Charius @RomanGotsiy . I got this working in the end getting the query result from a Service I established. I ended up sorting the voyager.worker.js issue by adding the following to the assets section within angular-cli.json

        {
          "glob": "voyager.worker.js",
          "input": "../node_modules/graphql-voyager/dist",
          "output": "./"
        },

Looking forward to us

[2018-05-29 21:36] jonmillar opened #63 "Out of memory on large schemas"
Error:
[code]

[2018-05-30 09:09] IvanGoncharov commented on #63
@jonmillar Thanks for reporting.
Memory limit is hardcoded here:
https://github.com/APIs-guru/graphql-voyager/blob/24c895560d3e43aed8e7936c069c47e3583402ea/src/graph/viz-worker.worker.js#L6
If you have Node.js enviroment it would very helpfull if you find minimal limit that will work with your GraphQL schema.
`npm start` supports hot-reloading so it should be pretty fast process.

[2018-06-06 22:50] mkochendorfer opened #65 "Middleware does not work with HAPI 17"
HAPI 17 changed its plugin registration format, and thus the middleware here needs to be updated to match.

https://github.com/prismagraphql/graphql-playground/commit/a4ddbd62332b73bb67773ddd58dfecb76f1ef28d#diff-63ec1e6c31c625b1529c90ef9da62e18 has a good reference of the changes need in the middleware to get this working again in HAPI 17

[2018-06-06 22:54] mkochendorfer commented on #26
It appears HAPI 17 is not supported: https://github.com/APIs-guru/graphql-voyager/issues/65

[2018-06-06 23:54] IvanGoncharov commented on #65
@mkochendorfer Thanks for reporting 👍
PR is welcome 🎉

[2018-06-07 00:01] mkochendorfer commented on #65
@IvanGoncharov What branch should I PR against since this will not be backwards compatible with old HAPI versions?

[2018-06-07 00:45] IvanGoncharov commented on #65
@mkochendorfer Middleware files are pretty small so just create a new one `hapiModern` or something similar.
Maybe rename old one to `hapiLegacy`?

[2018-06-07 17:39] mkochendorfer commented on #65
https://github.com/APIs-guru/graphql-voyager/pull/66

[2018-06-07 17:42] mkochendorfer commented on #65
Here is a temporary workaround for anyone who needs HAPI 17 before support is added to the middleware here:

[code]

[2018-06-07 23:18] IvanGoncharov commented on #65
Fixed in #66
Released as 1.0.0-rc.16 📦

[2018-06-07 23:18] #65 closed

[2018-06-07 23:49] IvanGoncharov opened #67 "NPM: replace voyager logo with "Powered by" at the bottom of left panel"
Described here: https://github.com/APIs-guru/graphql-voyager/pull/64#issuecomment-394948144
Reported by @brandonbyskov in #64

[2018-06-08 01:02] Stradivario opened #68 "Announcement! new web server released GAPI! Thank you voyager! :)"
Hello there guys i am in love with Voyager and i decided to integrate it with my framework it is called @Gapi and you can find more information about the whole namespace here:
https://github.com/Stradivario/gapi

Gapi-Voyager module is part of this namespace and it can be found at this repository:
https://github.com/Stradivario/gapi-voyager

The main idea behind this Framework is to provide Angula

[2018-06-08 16:36] mkochendorfer opened #69 "1.0.0-rc.17 Fails in Browser"
Getting the following error which kills Voyager in 1.0.0-rc.17:

[code]

[2018-06-08 16:49] mkochendorfer commented on #69
1.0.0-rc.15 was working fine for me.

[2018-06-08 16:59] IvanGoncharov commented on #69
@mkochendorfer Do you use it as HAPI middleware?

[2018-06-08 17:02] IvanGoncharov commented on #69
@mkochendorfer Can you please open `node_modules/graphql-voyager/middleware/render-voyager-page.js` and change `/dist/voyager.min.js` to `/dist/voyager.js`.
And post new stack trace here.

[2018-06-08 17:39] mkochendorfer commented on #69
Testing that out in a bit

[2018-06-08 17:43] mkochendorfer commented on #69
@IvanGoncharov So switching that actually fixed the error.

[2018-06-08 18:06] IvanGoncharov commented on #69
Facepalm: I know the issue https://github.com/graphql/graphql-js/issues/1182#issuecomment-388542102
I will try to fix it today.
Also not sure why it doesn't afect demo page.

[2018-06-08 22:02] koistya commented on #69
https://rawgit.com/APIs-guru/graphql-voyager/master/example/index.html

[2018-06-12 15:22] mkochendorfer commented on #69
@IvanGoncharov Any update on a resolution here?

[2018-06-12 16:15] IvanGoncharov commented on #69
@mkochendorfer Sorry I forget about it 😞
Looking into it ⏲

[2018-06-12 16:52] IvanGoncharov commented on #69
@mkochendorfer Published `1.0.0-rc.18` 📦 Can you please test?

[2018-06-12 17:22] mkochendorfer commented on #69
@IvanGoncharov Seems to be working now.

[2018-06-14 17:27] cmathews95 opened #70 "Safari compatibility with Viewport:minimal-ui"
The following error is being returned on running the graphql-voyager middleware on safari.

`[Error] Viewport argument key "minimal-ui" not recognized and ignored. (voyager, line 6)`

From index.html:
`<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">`.

[2018-06-18 15:08] karloluis opened #71 "Example implementation with graphql-yoga."
The API I am working on uses graphql-yoga to bootstrap the server and do some pretty cool stuff. Sadly I am not being able to view the voyager as there are a few errors. We would like to visualize the graph and traverse it. Any suggestions or example code available.

PS. The API serves a react-native client.

EDIT: See [here](https://github.com/prismagraphql/graphql-yoga/issues/365) for more detai

[2018-06-18 15:55] IvanGoncharov commented on #70
@cmathews95 I removed `minimal-ui` and published `v1.0.0-rc.19` 📦
Can you please try it?

[2018-06-23 11:29] RomanGotsiy commented on #71
@karloluis could you please create minimal reproducible sample?

[2018-06-23 11:32] RomanGotsiy commented on #68
@Stradivario nice job here 👍
We're glad you like Voyager and integrated it into your framework!
Thanks so much!

[2018-06-23 11:32] #68 closed

[2018-06-23 11:43] RomanGotsiy commented on #70
Feel free to reopen if the issue persists.

[2018-06-23 11:43] #70 closed

[2018-06-24 04:15] karloluis commented on #71
It seems that my method of authentication makes introspection fail. I will be closing this and move over to the other issue for more details because their example code works fine on a smaller sample.

[2018-06-24 04:15] #71 closed

[2018-06-29 10:53] cmcinroy opened #73 "New Apollo 2.0 server breaks suggested method for middleware with Express"
The suggested method for using Voyager as middleware with Express no longer works with the 2.0 release of Apollo.

I followed this approach:
https://github.com/apollographql/apollo-server/issues/1117#issuecomment-397451390

[code]

Only opening this issue here to alert to the Apollo situation... I don't expect anything can or should change with Voyager.

[2018-07-16 10:48] txbo opened #76 "When I click on the eye, `<g>` target fly out of the viewport"
I use voyager in create-react-app, she is very beautiful and useful when I open her in browser. But when I clicked on the eyes, `<g>` disappeared, I found `<g>` style `transform: matrix()` was wrong.

can anyone help me?  this is my voyager file code.

[code]

[2018-07-16 11:47] IvanGoncharov commented on #76
@txbo Can you please try to reproduce it using online demo: https://apis.guru/graphql-voyager/

[2018-07-17 01:48] txbo commented on #76
@IvanGoncharov yep, My results are working fine [here](https://apis.guru/graphql-voyager/), and I tried the koa server is also pretty good. This is an example [demo](https://github.com/txbo/voyager-demo) of recurring the problem, and [css](https://github.com/txbo/voyager-demo/blob/master/src/App.css).

[2018-07-24 14:02] chrisui opened #78 "Enum"
Hey! Firstly awesome project and I highly appreciate the effort put into it.

I was wondering if you had any plans to support Enums more clearly within the visualisation?

[2018-07-24 20:10] IvanGoncharov commented on #78
@chrisui Do you want to have enums as separate boxes on a graph?
Or do you have something else in mind?

[2018-07-24 21:43] chrisui commented on #78
I think if they were to be shown on the graph they could be shown with a distinctive style to show they are not necessarily "traditional" nodes in the graph.

Otherwise we might want to allow clicking/hovering the type in the node/sidebar and seeing extra information about the type. I would expect this to be a similar ux pattern to how you could show more information about existing types which are

[2018-07-25 06:22] IzakMarais opened #79 "Questions when using as an npm dependency"
Hi,

Thanks for the great project!

I currently have a modified [demo application](https://github.com/APIs-guru/graphql-voyager/tree/master/demo) working from within my fork of the graphql-voyager repo. I want to move this to a new project using voyager as an [npm dependency](https://github.com/APIs-guru/graphql-voyager#using-as-a-dependency) instead. I'm pretty new to web development (and complet

[2018-07-25 07:59] IzakMarais commented on #79
I have reached an insurmountable problem with trying to a extract of the Javascipt version the demo application from the repo fork. In the demo app you reference `Voyager.PanelHeader` [here](https://github.com/APIs-guru/graphql-voyager/blob/master/demo/index.tsx#L46).
As far as I can tell this static method type is not available when using

    import { Voyager } from 'graphql-voyager';

Inspectin

[2018-07-25 08:11] IvanGoncharov commented on #79
@IzakMarais We in process of refactoring entire Voyager so the current demo is not compatible with NPM package.
Please use `demo` from this tag: https://github.com/APIs-guru/graphql-voyager/tree/v1.0.0-rc.19/demo

[2018-07-25 08:12] RomanGotsiy commented on #79
@IzakMarais All your issues are caused by the fact that the latest changes were not released yet to NPM and you are looking at the code from `demo` folder which uses the latest changes.

We started a big refactoring and haven't managed to finish it yet.
Once we finish it, we'll update the Readme and publish a new package to NPM.

And, I will make sure it will work with `create-react-app`.

[2018-07-25 08:50] IzakMarais commented on #79
Thanks for the feedback. I tried a clean checkout of tag `v1.0.0-rc.19`. After `npm install`, `npm run build:release` fails for that release (output below).

However I don't think we need to debug this further. I will use the forked repo for now. Maybe you can just post on this issue when the refactoring is complete. I might then attempt extracting the demo again.

[code]

[2018-07-26 20:50] LaurenceGA opened #80 "Clicking on type in Firefox"
In Firefox, if you click on a type in the sidebar or in the graph, instead of centring the view on the type, it centres somewhere off near the start of the graph.

[2018-07-26 21:05] IvanGoncharov commented on #80
@LaurenceGA Do you use our online demo or NPM package?

[2018-07-26 22:56] LaurenceGA commented on #80
npm package. Live demo seems to work fine.

[2018-07-27 10:41] IvanGoncharov commented on #80
@RomanGotsiy I suspect it's duplicate of #76 which already have reproduce sample.

[2018-07-27 11:06] LaurenceGA commented on #80
Hmm yes, may be a duplicate actually.
Yeah I can try throw a sample together sometime this weekend. There's nothing special in the project it's in.
For some extra detail, the bug was found on latest Firefox on the latest Mac OSX (no bug with latest chrome on the same machine).

[2018-08-08 14:54] danpalmer commented on #78
I'd put a vote in for having them displayed in the graph with a different style. We use Enums extensively, and often the fact that some data is represented as an Enum vs a Type does not matter too much, so I'd quite like to be able to view them as part of the full type graph.

[2018-08-09 08:03] danpalmer opened #81 "Option to hide logo"
I’m looking at embedding Voyager into another page, but the logo takes up a fair bit of room. Would you consider merging a PR that provides an option to hide the logo? I think having it visible would be the best default.

[2018-08-09 09:07] IvanGoncharov commented on #81
@danpalmer we are working on a new version of Voyager where you can replace the logo with your own or completely remove. It's already in master but we to finish refactoring in order to release new NPM package.

[2018-08-09 09:20] danpalmer commented on #81
Ok, great, I look forward to the next release.

[2018-08-10 14:31] sirianni opened #82 "Markdown table in description not rendered properly"
A markdown table is included in a field description is not properly rendered.

![image](https://user-images.githubusercontent.com/381302/43963511-7ae3fc2c-9c88-11e8-9156-469744c7146f.png)

[2018-08-10 14:39] IvanGoncharov commented on #82
@sirianni Does graphiql renders it correctly?
Can you please post a simplify sample here?

[2018-08-10 18:41] sirianni commented on #82
I don't use graphiql, but GraphQL Playground renders it properly.

Any markdown table will work:
[code]

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

[2018-08-10 20:49] IvanGoncharov commented on #82
@sirianni I did a small research and technically tables is not a part of CommonMark specification that referenced by GraphQL specification:
http://facebook.github.io/graphql/June2018/#sec-Descriptions

But it looks like tables are supported by GraphiQL and other tools so we will try to support it in the version.

[2018-08-15 21:19] peisenmann commented on #7
I don't need any manual layout coordinates, but hiding some types would be great. Any ideas on achieving just that?

[2018-09-03 10:06] redbass opened #84 "Run Graphql-voyager broken"
I try to run locally Graphql-Voyager, but the graph is not loading, due

The issue seems related to a change in `https://www.jsdelivr.com/`

The current code in `middleware/render-voyager-page` is importing the dependencies in this way:
`<script src=\"//cdn.jsdelivr.net/fetch/2.0.1/fetch.min.js\">`

Instead now have to be :
`<script src=\"https://cdn.jsdelivr.net/fetch/2.0.1/fetch.min.js\">`

[2018-09-03 10:08] IvanGoncharov commented on #84
@redbass Thanks for reporting 👍
I will try to publish a new version in the next few days.

[2018-09-03 10:16] redbass commented on #84
[fix.patch.txt](https://github.com/APIs-guru/graphql-voyager/files/2345145/fix.patch.txt)
Here the fix

[2018-09-03 11:12] IvanGoncharov commented on #84
@redbass Thanks 👍
Do you want to open a PR?

Note: currently we are working on `2.0.0` so current master is not ready to be published so I need a few days to clean it up.

[2018-09-03 12:15] redbass commented on #84
ok I will do that

[2018-09-03 14:03] redbass commented on #84
https://github.com/APIs-guru/graphql-voyager/pull/85

[2018-09-06 14:00] Harmonickey commented on #84
We are eagerly awaiting your 2.0.0 so that we can grab from npm, mostly to fix this jsdelivr issue!  Thanks so much for the good work!

[2018-09-07 16:30] DblK commented on #84
Thank you for the PR, but for middleware `middleware/render-voyager-page` would it be possible to use a local file instead of the one from the cdn?
That way it could work offline locally.

[2018-09-10 16:09] IvanGoncharov commented on #84
@redbass @Harmonickey @DblK We still in process of heavy refactoring with an aim to finally  release `1.0.0`
But this bug is extremely critical so I released `v1.0.0-rc.20` 📦 with the fix
Can you please test it to ensure that we didn't break anything?

[2018-09-10 19:59] marc-rutkowski commented on #84
Hello @IvanGoncharov and thanks for all the good work!
Just testing the rc20 now, and it seems that the middleware folder is missing into dist :(
Any idea?

[2018-09-11 07:00] DblK commented on #84
I just tested with `rc.21` and I got this:
﻿`
GET http://localhost:8017/voyager.worker.js 404 (Not Found) voyager.min.js:78
`

[2018-09-11 09:37] alekseyBatuhtin commented on #84
@DblK the same thing.

[2018-09-11 10:52] IvanGoncharov commented on #84
@DblK @alekseyBatuhtin Thanks for reporting. I'm looking into it.
Sorry for the inconvenience, I created a test setup for middleware and now I can test it myself.

[2018-09-11 13:34] IvanGoncharov commented on #84
@redbass @Harmonickey @DblK @marc-rutkowski @alekseyBatuhtin
I released `rc-23` 📦 and it works in my local setup.
Can you please test it?

[2018-09-11 14:19] Harmonickey commented on #84
Looks good, it loads for me now!  Was clicking around and saw this error though when I clicked the query dropdown button, we can create a new ticket or you can address now, up to you.

![image](https://user-images.githubusercontent.com/3519788/45366155-cee1c780-b5a3-11e8-8cc3-da12d6026300.png)

![image](https://user-images.githubusercontent.com/3519788/45366170-d7d29900-b5a3-11e8-85ae-438a9388abc4

[2018-09-11 14:26] marc-rutkowski commented on #84
Works for me too! Thanks for the fix!
And I see the same error on the rootType dropdown...

[2018-09-11 15:13] IvanGoncharov commented on #84
@Harmonickey I forgot to update React version in middleware.
Fixed in `rc.24`.

[2018-09-11 15:32] IvanGoncharov commented on #84
🤦‍♂️ Fixed stupid mistake, and released `rc.25`.
I tested locally and it looks like now everything works as expected.

[2018-09-11 15:42] Harmonickey commented on #84
@IvanGoncharov confirmed on my side, looks good!  awesome work on this library!

[2018-09-11 15:44] RomanGotsiy commented on #84
`v1.0.0-rc.20` -> `v1.0.0-rc.25` to fix a simple url issue

We've nailed it 🙈😂! (special thanks go to @IvanGoncharov 👏)

![meme](https://78.media.tumblr.com/e68ad3308e9701c10ca6aebe56008be5/tumblr_inline_p6nhl0n3qv1vvskl5_500.jpg)

[2018-09-11 15:44] #84 closed

[2018-09-11 16:32] IvanGoncharov commented on #81
@danpalmer Thanks for the patience
We completely removed logo in `rc.25`

[2018-09-11 16:32] #81 closed

[2018-09-12 17:38] stevefan1999 commented on #76
Yeah, somewhat if it was used as a child component that if Voyager doesn't have full control over that rendering element, the offset is completely invalidated, resulting in a huge viewport shift if you click/teleport on to something.

In other words, it looks like GQLVoyager must be used in `ReactDOM.render(<Voyager ...>, document.getElementById('root'))`, unless we can have observable and respons

[2018-09-20 10:42] vermiculus opened #86 "Typo in demo field name"
https://github.com/APIs-guru/graphql-voyager/blob/df0e86ec6d7cdfedb0382d5b357237254fc7bc09/demo/presets/github_introspection.json#L10623

This should be `targetUrl`. If this is a generated file, it should probably be re-generated.

[2018-09-23 21:19] anodynos opened #87 "Cannot find module 'koa'."
When importing as mentioned in docs for an express project:

    import { express as voyagerMiddleware } from 'graphql-voyager/middleware';

I get

     node_modules/graphql-voyager/middleware/koa.d.ts:1:25 - error TS2307: Cannot find module 'koa'.

     1 import { Context } from 'koa';

from `typescript@2.9.2`

[2018-09-26 14:02] barbalex opened #88 "Can't resolve 'viz.js' in 'C:\Users\alexa\ae2\node_modules\graphql-voyager\dist'"
I have tried  a bunch of stuff to prevent this error:

- reverting to graphql-voyager 1.0.0-rc.19
- installing graphql in versions 14.0.0 or 14.0.2
- using yarn's resolution feature in package.json to force all graphql versions to use v14.0.0 or v14.0.2
- cleaning yarn cache
- deleting node_modules, reinstalling all dependencies

But no matter what, this error results:

[code]

Some info:

- Windo

[2018-09-27 07:43] RomanGotsiy commented on #88
@barbalex could you provide some more details on how to reproduce it?

I just cloned your repo, did `npm install` and then `npm start` both on MacOS and Windows 10 machine and can't see any errors in the terminal.
The site is also opened (although it doesn't show anything as I can't start graphql server)

[2018-09-27 07:53] barbalex commented on #88
@RomanGotsiy Yeah, you could not reproduce it because I removed graphql-voyager to get my project working again. You should `git checkout a1596bd7dcd93e0e51192730c0315141e5ead00b`

[2018-09-27 09:05] #88 closed

[2018-09-27 09:05] RomanGotsiy commented on #88
Thanks for the info.

The is caused by absence `viz.js` in dependencies.
The issue is fixed now and will land in the upcoming release.

As a temporary workaround run:

[code]

[2018-09-27 10:01] barbalex opened #89 "Uncaught SyntaxError: Unexpected token <"
This error occurs only in production - in dev it works fine:
<img width="556" alt="2018-09-27_11h55_07" src="https://user-images.githubusercontent.com/669783/46138550-70c40e00-c24c-11e8-9bc1-bf1321ee1d5e.png">

Some info:
- Windows 10 (dev)
- Ubuntu 16.04.5 (prod)
- Chrome 69.0.3497.100
- graphql-voyager 1.0.0-rc.25
- create-react-app v2
- my project: https://github.com/FNSKtZH/ae2
- worker file:

[2018-09-28 11:33] daniloferreira commented on #87
I realized how make it work:
`
import voyagerMiddleware =  require('graphql-voyager/middleware/express');
app.use('/voyager', voyagerMiddleware.default({ endpointUrl: '/graphql' }));
`

[2018-09-28 11:45] daniloferreira commented on #87
this way worked better:
`
import voyagerMiddleware from  'graphql-voyager/middleware/express';
app.use('/voyager', voyagerMiddleware({ endpointUrl: '/graphql' }));
`

[2018-09-29 13:16] daniloferreira commented on #73
You should use apollo-server-express...
I got it working following this doc:
https://www.apollographql.com/docs/apollo-server/essentials/server.html#integrations

[2018-10-01 13:13] IvanGoncharov commented on #87
@anodynos @daniloferreira Just published `1.0.0-rc.26` 📦 with a fix included. Can you please try.

import voyagerMiddleware from 'graphql-voyager/middleware/express'; app.use('/voyager', voyagerMiddleware({ endpointUrl: '/graphql' }));

@daniloferreira It's workaround not a full fix since express middlaware still depends on `@types/express`. So I just removed all externall types from middlewares t

[2018-10-03 16:54] Apollinaire commented on #87
@IvanGoncharov I get `TypeError: voyagerMiddleware is not a function` with the following imports on ` 1.0.0-rc.26` :
[code]

[2018-10-03 19:39] IvanGoncharov commented on #87
@Apollinaire Strange, it works for me when I'm doing:
[code]
Can you please test the same code in your setup.
I see you are using ES6 modules, what environment do you using `babel`, `typescript`, `esm`?

[2018-10-04 08:52] NewToStuff opened #91 "Angular 6 Error message"
Hi,

I had this working in a previous Angular 5 project. I am now trying to get the tool incorporated in a new Angular 6 project. (The Angular version may not be relevant)

When I try to compile I get the following error;

ERROR in node_modules/graphql-voyager/typings/graph/viewport.d.ts(5,13): error TS2503: Cannot find namespace 'SvgPanZoom'.

svg-pan-zoom is listed within the node packages.

Has

[2018-10-04 09:59] Apollinaire commented on #87
I'm using Meteor to build, with the [`ecmascript`](https://docs.meteor.com/packages/ecmascript.html) package, which uses Babel under the hood. To be more precise, i'm trying to include this to  vulcan.js : https://github.com/vulcanjs/vulcan
Any import on server side returns undefined. On the client it works, but I need the middleware to run serverside only, because that's where I create my express

[2018-10-04 10:28] IvanGoncharov commented on #87
@Apollinaire I'm not familiar with meteor so can you please create GitHub repo with the minimal setup to reproduce this issue?

[2018-10-04 14:48] Apollinaire commented on #87
After further search, it seems related to how I build my project. Something in my config must be wrong because I am able to import and run the middleware in other Vulcan/Meteor projects.
I'll update this when I've found the issue, it might be useful for future people

[2018-10-04 17:42] IvanGoncharov commented on #87
@Apollinaire I'm closing this issue since the original issue was resolved.
But please post your findings here it will help if other Meteor users will have the same problem.

[2018-10-04 17:42] #87 closed

[2018-10-04 17:47] NewToStuff commented on #91
I thought it may be a package issue but cannot see anything wrong with it. I have copied it below in case it provides a clue.

{
  "name": "----",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "[ -f src/aws-exports.js ] && mv src/aws-exports.js src/aws-exports.ts || ng serve; ng serve",
    "build": "[ -f src/aws-exports.js ] && mv src/aws-exports.js src/aws-exports.ts || ng bu

[2018-10-04 18:21] NewToStuff commented on #91
tsconfig.app.json reads as follows. I have the types": ["node"] entry. Do I need to add something else to the types entry?

Thanks - Any pointers much appreciated

[code]

[2018-10-04 20:37] NewToStuff commented on #91
Helping my own problem. It seems that if I add
[code]
to the file viewport.d.ts I get past the error. Not sure whether I can start the component yet but I get past the error. I know this is not the way to fix the problem but maybe it helps me (or someone) work out what may be going wrong.

Thanks

[2018-10-05 09:17] Apollinaire commented on #87
@IvanGoncharov it was just some bad config from me, other should not have the same problem.

[2018-10-25 00:41] doubledjdcb opened #93 "React 16.6 throws unstable_cancelCallback"
Hello,
From the example, https://github.com/APIs-guru/graphql-voyager/blob/master/example/index.html

[code]
This is pulling v16.6.0 of react.
Which throws
[code]

Verified that 16.5.2 still works
[code]

thanks much

[2018-10-30 18:05] IvanGoncharov opened #94 "Free ticket to GraphQL Summit"
Hi guys,

I tagged you all because you contributed to one of `APIs-guru/graphql-*` repos.

I have a free ticket to GraphQL Summit on Nov 7th & 8th at San Francisco, more details here: https://summit.graphql.com/

If you are interested please leave a comment with email and I will send you a promo code.
**Note: promo code is valid only until Wed Oct 31 5pm PDT**
I only have one ticket so the first *

[2018-10-30 18:43] IvanGoncharov commented on #94
But I would love to receive a promo code: jgcmarins@gmail.com

@jgcmarins Just to ensure. Do you already know a person who can and has confirmed that he/she is able to attend this conference. Right?

[2018-10-30 19:37] wtgtybhertgeghgtwtg commented on #94
I have no idea how these things work, but I'll take it if it includes lodging.  Or if anyone knows of any nice cardboard boxes in San Francisco.
wtgtybhertgeghgtwtg@gmail.com

[2018-10-30 20:08] raphaelcosta commented on #94
I already have a ticket also. Thanks!

[2018-10-30 20:29] IvanGoncharov commented on #94
@wtgtybhertgeghgtwtg Could you please confirm that you would be able to attend?
Just don't want the promo to be wasted

[2018-10-30 20:30] wtgtybhertgeghgtwtg commented on #94
Barring any unforeseen accidents, I will be able to attend.

[2018-10-30 20:53] jgcmarins commented on #94
Sorry, I can't go and I have no one to indicate

[2018-10-30 20:58] IvanGoncharov commented on #94
@jgcmarins NP thanks for response.
@wtgtybhertgeghgtwtg Sent you the promo code, please check your email.

@brandonbyskov @raphaelcosta Looking forward to meeting you at the event.
I will be in the hoodie with big APIs.guru logo at the front.

---------------

# Ticket found it's owner 🎉 Thanks to everyone and sorry for spam.

[2018-10-30 20:58] #94 closed

[2018-11-02 09:00] threem0126 opened #95 "why the description in model-defined code is not display in votager-UI"
why the description in model-defined code is not display in votager-UI?

`
#商品类型的预注册登记表（交易系统内定义的套餐，code为'-set-')
type ProductType{
    id: ID! @unique
    createdAt: DateTime!
    updatedAt: DateTime!
    deletedAt: DateTime
    """外部商品系统的名称"""
    name:String
}
`

include the two style:  '#' and the """ ** """

[2018-11-02 13:35] danpalmer commented on #37
@IvanGoncharov I see that in a recent version selection of the graph root has been added, but "Mutation" is not showing up there for me. Is this expected?

[2018-11-02 14:00] IvanGoncharov commented on #37
@danpalmer If your API has "Mutation" than it should be shown right after "Query" at the top of the list.
You can check if your API has a mutation root by executing:
[code]

[2018-11-07 19:56] yaadyaad opened #96 "Syntax error in line 152760 scanning a quoted string (missing endquote? longer than 16384?) String starting:"FIELD["
There is an error on large schemas:

syntax error in line 152760 scanning a quoted string (missing endquote? longer than 16384?) String starting:"FIELD[ syntax error in line 152760 scanning a quoted string (missing endquote? longer than 16384?)

Looks like this magic number of 16384 is connected to the dot somehow.

[2018-12-12 11:16] felippenardi commented on #47
@IvanGoncharov any chance you are going to work on this soon?

[2018-12-12 13:18] IvanGoncharov commented on #47
@felippenardi probably not 😞 maybe next year.

[2018-12-17 13:17] mcbain commented on #37
@IvanGoncharov My schema has a mutation but it dos not show up in the root selection nor its actually included.

[code]

[2018-12-23 23:52] thebridsk opened #98 "Material-UI: you are using the deprecated typography variants"
Using Chrome browser version 71.0.3578.98 (Official Build) (64-bit)

Warning: Material-UI: you are using the deprecated typography variants that will be removed in the next major release.
Please read the migration guide under https://material-ui.com/style/typography#migration-to-typography-v2

[2018-12-25 04:53] balarajuyogesh opened #99 "TypeError: _ is undefined"
[code]

Upon pasting this I am getting a TypeError: _ is undefined

![screenshot from 2018-12-25 10-18-39](https://user-images.githubusercontent.com/36181678/50412610-ca79ab80-082e-11e9-9c1f-0124e7fbb556.png)

[2019-01-01 00:35] JHibbard commented on #89
I'm getting this error in both dev and prod.

[2019-01-01 22:33] SuryaKrishnaMoorthy opened #100 "Using as a dependency in create-react-app fails to render"
I am getting a transmitting screen and then it disappears with these errors in console.
<img width="1427" alt="screen shot 2019-01-01 at 2 31 56 pm" src="https://user-images.githubusercontent.com/37917817/50576963-25cd1000-0dd2-11e9-8502-be3f10f4c50c.png">

Here is the github link to recreate the error: https://github.com/SuryaKrishnaMoorthy/graphql_view

[2019-01-03 15:10] Swoorup opened #101 "How to use this with vuejs?"

[2019-01-03 15:17] Apollinaire commented on #87
@SachaG If I remember well the problem was that I was doing `npm i --save-dev graphql-voyager` because I was thinking that I only had to use it on dev environment. But Meteor did not like this, so I just did `npm i graphql-voyager` and it worked !

[2019-01-03 23:22] IvanGoncharov commented on #101
@Swoorup Never used vuejs myself so I can't help with this one.
If someone figures out how to do that I will happily merge PR that adds such example to the README.

[2019-01-04 10:41] SachaG commented on #87
Haha exact same issue for me! Thanks!

[2019-01-13 09:04] vshelke commented on #76
@stevefan1999-personal I used the `ReactDOM.createPortal(<Voyager ...>, document.getElementById('root'))` and after inspecting its in the root element still there is a viewport shift after clicking the sidebar items.

[2019-01-15 07:58] hujiulong opened #102 "Support node folding/unfolding?"
Hi, Can graphql-voyager support folding/unfolding of nodes?.
I found this PR #74 , but why was it closed?

[2019-01-15 08:56] IvanGoncharov commented on #102
@hujiulong We experimented with node folding before public release but decided to postpone this feature. You can see out the experiment in this branch:
https://github.com/APIs-guru/graphql-voyager/tree/folding

Moreover, this is the branch behind #74.
I closed it because it's very strange then someone opens PR using your branch.
This branch was just an experiment based on pre-released version of V

[2019-01-20 03:15] #67 closed

[2019-01-20 03:15] IvanGoncharov commented on #67
Already implemented and released 🎉

[2019-01-25 16:32] redbass opened #103 "Permanent Links"
Have the ability to link a specific definition using the browser URL.

Useful for documentation

[2019-01-30 16:55] eric-burel commented on #87
Guess who got the same issue

[2019-01-31 09:00] Apollinaire commented on #87
We're one damn fine core team for Vulcan.js

[2019-02-01 15:46] stevenmckinnon opened #104 "Issue loading introspective schema"
Hi,

I’m trying to implement voyager at the moment to my project.

I’ve followed the same format as the demo folder to load in the [.json files](https://github.com/APIs-guru/graphql-voyager/tree/master/demo/presets) then pass them as props via [this](https://github.com/APIs-guru/graphql-voyager/blob/master/demo/presets.ts) to the **GraphQLVoyager** like [here](https://github.com/APIs-guru/graphql-

[2019-02-04 12:07] stevenmckinnon commented on #104
Issue was related to my version of GraphQL which was too old for the required functions.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-04 12:07] #104 closed

[2019-02-06 09:54] IvanGoncharov commented on #62
Just as a note for a future development I really like how screenshot button done in this demo:
http://html2canvas.hertzen.com/documentation
![image](https://user-images.githubusercontent.com/8336157/52333394-d1870280-2a05-11e9-9a30-52cd88c98880.png)
![image](https://user-images.githubusercontent.com/8336157/52333413-dc419780-2a05-11e9-80ae-3fa199271bb8.png)

[2019-02-07 11:50] playerx opened #105 "Implement shortest path between types"
Hi,

Thanks first of all for this project, it helps a lot to visualize our domain objects and their relations.

When graph grows its necessary to understand how to get from `Type 1` to `Type 2` and it will be helpful to have ability to see shortest path between types, in voyager

Example:
Selected `Type 1`
Selected `Type 2` (with `ctrl` + `click`)

and voyager shows shortest path between those two

[2019-02-08 09:28] stevenmckinnon commented on #100
Did you solve this? I had the same issue and it was related to not using the correct version of graphql in my package.json. Version 14.0.2 fixed this for me

[2019-02-11 01:35] yoDon opened #106 "Feature Request: Paste schema directly into textbox"
Perhaps this is already available and I just missed it... it would be great to be able to use graphql-voyager while designing a schema, pasting the in-progress schema directly into a textbox rather than having to keep publishing work-in-progress copies of the schema just to be able to download them into visualizer.

[2019-02-17 07:53] FluorescentHallucinogen commented on #16
Here is my vision. :wink:

Before:
![before](https://user-images.githubusercontent.com/7892779/52909999-20545800-32a2-11e9-838d-cb9007ae0009.png)

After:
![after](https://user-images.githubusercontent.com/7892779/52910001-26e2cf80-32a2-11e9-9a9c-51cb3731f810.png)

[2019-02-18 18:42] FluorescentHallucinogen commented on #16
It would also be great to be able to search by fields too, not only by types:

![voyager-search](https://user-images.githubusercontent.com/7892779/52970726-fa27d880-33c5-11e9-98ee-5ed1b0271bf0.png)

[2019-02-21 11:29] playerx opened #107 "Keep changed options in Query String"
<img width="460" alt="screen shot 2019-02-21 at 3 24 40 pm" src="https://user-images.githubusercontent.com/1698274/53165741-e4e0c300-35ec-11e9-9912-dc4939aaaa08.png">

It will be nice to have feature to keep changed options in query string

Use Case:
sometimes you are watching just one Type (and its relations). Next you update the graph and you want to refresh voyager also. For now you need to sel

[2019-02-21 15:38] oliviertassinari opened #108 "Live demo error"
We can't use https://apis.guru/graphql-voyager/, I have the following error in my console:

![capture d ecran 2019-02-21 a 16 37 36](https://user-images.githubusercontent.com/3165635/53181035-13fc3200-35f7-11e9-9398-eb872a43ab35.png)

[2019-02-21 15:39] oliviertassinari commented on #108
Looks like an issue with one of my extensions :o. It's fine with private navigation.

[2019-02-21 15:39] #108 closed

[2019-02-26 06:04] #40 closed

[2019-02-28 22:02] thebetternewt opened #109 "Error in production on Heroku"
Hi. Great graphQL plugin! Thank you!

I am having an issue deploying to Heroku with express. I am actually using `apollo-server-express` for my server. Voyager works perfectly fine when running in development locally, but when deployed to production, I get the following error:

`TypeError: Cannot read property '__schema' of undefined`

I get the "Loading..." screen, and then Voyager flashes for a

[2019-02-28 22:53] IvanGoncharov commented on #109
@thebetternewt `apollo-server-express` disable introspection in production:

https://github.com/apollographql/apollo-server/issues/1571#issuecomment-415999534

[2019-02-28 22:53] #109 closed

[2019-03-11 21:22] madhaze commented on #103
https://github.com/APIs-guru/graphql-voyager/issues/12 Looks to be the same ask.  This would be very useful.

[2019-03-15 01:49] robbyemmert opened #110 "Feature Request: Image export"
Desired functionality:
As a viewer, I want to export the schema to a file.

Ideal options for file types:
- SVG (It's already an SVG in the DOM, and it'd still be a vector image supported by most graphics editors, so this is likely the optimal choice)
- PNG/JPEG (This would require a more complex export interface, asking for sizing/resolution requirements, but is nice for quickly outputting a snap

[2019-03-15 02:17] IvanGoncharov commented on #110
@robbyemmert Definitely something we want to add 👍
It already reported in #62 but I also will keep this one since it contains a few new ideas.

At the moment we doing heavy refactoring as a push for `1.0.0`.
But this feature is definitely on top of the list for post-`1.0.0`.

[2019-03-15 02:28] robbyemmert commented on #110
Awesome, thanks for keeping this in mind!

[2019-03-15 02:32] robbyemmert commented on #62
I put a few ideas for the technical architecture in #110

[2019-03-15 02:33] robbyemmert commented on #110
Pasting my comments into #62 and closing for cleanliness.

[2019-03-15 02:33] #110 closed

[2019-03-15 02:34] robbyemmert commented on #62
Moving my ideas here to keep everything in one place:

Desired functionality:
As a viewer, I want to export the schema to a file.

Ideal options for file types:
- SVG (It's already an SVG in the DOM, and it'd still be a vector image supported by most graphics editors, so this is likely the optimal choice)
- PNG/JPEG (This would require a more complex export interface, asking for sizing/resolution

[2019-03-15 02:36] IvanGoncharov commented on #110
@robbyemmert Thanks 👍

[2019-03-15 02:55] elenigen opened #111 "Change from queries to mutations"
How to display the mutations or the queries from a Change Introspection? (from a flat HTML version)
I found this issue was closed, but I don't really understand how to make it happen: https://github.com/APIs-guru/graphql-voyager/issues/15

Thanks!

[2019-03-15 03:12] IvanGoncharov commented on #111
@elenigen Do you mean online demo https://apis.guru/graphql-voyager/ or NPM package?

[2019-03-15 03:14] IvanGoncharov commented on #111
@elenigen If you use NPM, can you please check that you are using `v1.0.0-rc.26`?

[2019-03-15 04:18] elenigen commented on #111
Sorry, I just noticed that we can actually simply change the root item from the menu :
![image](https://user-images.githubusercontent.com/8632319/54408140-01858d80-46b7-11e9-911a-ab6ac2c97cc2.png)
I believe I was focusing too much on the `displayOptions.rootType` feature.  I thought it could be initialized only when the Voyager page is loaded, but in the end, it's dynamic.
🤦‍♂️

Thanks anyway for

[2019-03-15 04:58] #111 closed

[2019-03-24 12:40] romain-gilliotte commented on #106
When cloning the repo, and running npm run start, the option seem to be already available.

![image](https://user-images.githubusercontent.com/1374063/54879547-6de05980-4e3a-11e9-8dbe-d4d79489e0f3.png)

[2019-03-24 12:44] romain-gilliotte commented on #47
We also needed this for our project, and I took the time to implement it.
It was pretty straightforward, graphql-voyager code is easy to read.

I'll add a pull request so that it can be reviewed.

[2019-03-24 17:11] IvanGoncharov commented on #47
Implemented by @romain-gilliotte in #112 🎉

[2019-03-24 17:11] #47 closed

[2019-03-24 17:15] IvanGoncharov commented on #106
@romain-gilliotte Yes it's in `master` but not yet deployed to:
https://apis.guru/graphql-voyager/

Currently, Voyager is under heavy refactoring in preparation for `1.0.0`.
Plus we want to improve DX of the demo.

[2019-03-31 16:09] nikitastupin opened #113 "Visual diff of schemas"
Hi,

Voyager is great tool but it would be nice to have a feature that shows visual diff between two versions of the same schema.

Diff would be incredibly useful for security researchers (and for developers too). The idea is that you can monitor changes in GraphQL API and then see visual diff of this changes (it's much more convenient then plaintext JSON diff). This will help to quickly reveal ne

[2019-04-01 13:42] IvanGoncharov commented on #113
@nikitastupin It was our original idea but we decided to release MVP.
Definitely, something to consider after we finally release `1.0.0`.

[2019-04-11 12:49] BenHizak opened #114 "Integrate with hasura.io"
Cherre uses Hasura.io (a graphql <--> Postgres layer). It would be great to build voyager into Hasura's web interface.

The team behind Hasura are pretty friendly and are available on [this discord channel](https://discord.gg/vBPpJkS). I am happy to make intros.

[2019-04-17 09:48] starriv commented on #13
emm, I also encountered this problem. Still not fixed yet?

[2019-04-18 11:07] mnlbox commented on #114
@BenHizak They also have some work about this but it's not finished yet:
https://github.com/hasura/graphql-engine/pull/799

I think if someone from voyager community join that PR we can see this integration soon.

Other related issue:
https://github.com/hasura/graphql-engine/issues/1731

[2019-04-19 12:31] IvanGoncharov commented on #52
@cabello Sorry for the delay.

We are finally separated Demo code from main Voyager so now you can provide your own widget for switching schemas (dropdown, radio button, etc.)
Here is how it's done in our demo:
https://github.com/APIs-guru/graphql-voyager/blob/489cdaff1abd0402ce90a23b115e9d3b1dfc6447/demo/index.tsx#L48-L56

[2019-04-19 12:31] #52 closed

[2019-04-19 12:39] IvanGoncharov commented on #80
@LaurenceGA Sorry for the delay.
Fixed in `1.0.0-rc.26`

[2019-04-19 12:39] #80 closed

[2019-04-19 13:31] IvanGoncharov commented on #51
@amilajack Can you still reproduce this issue on `1.0.0-rc.27`?
If so can you please create small reproduce repo for this issue?

[2019-04-19 13:38] IvanGoncharov commented on #91
@NewToStuff Sorry, don't have any expirience with Angular so can't help with this issue.
That said if someone knows how to improve the experience for Angular users I'm totally open for PRs.

[2019-04-19 13:38] #91 closed

[2019-04-19 13:42] IvanGoncharov commented on #73
@cmcinroy Thanks for the info.
We are working towards `1.0.0` release and it would be great to include your example in README.
Can you please confirm that it still works with the latest Apollo server?

[2019-04-19 13:53] IvanGoncharov commented on #76
@vshelke It looks like we fixed this issue in `v1.0.0-rc.27`.
I tried it on your demo but used `http://swapi.apis.guru` as GraphQL Server and updated all dependencies:
https://github.com/txbo/voyager-demo

[2019-04-19 13:53] #76 closed

[2019-04-19 14:53] #61 closed

[2019-04-19 14:56] IvanGoncharov commented on #16
Search for both types and fields implemented on `master` and released as `v1.0.0-rc.27`.
We are still working on updating demo.

[2019-04-19 14:56] #16 closed

[2019-04-19 15:03] IvanGoncharov commented on #79
Hi @IzakMarais

Sorry for the delay.
We stabilize `master` after refactoring.
Can you please try it now?

[2019-04-19 19:42] amilajack commented on #51
I don't even remember what issue I was experiencing because this was over a year ago. Sorry. I'll close this

[2019-04-19 19:42] #51 closed

[2019-04-20 20:39] yoDon commented on #106
Nice! Did you want to keep this open to track the work until it's published on the site? I'm ok with having the issue closed knowing it's in the branch

[2019-04-21 13:28] IvanGoncharov commented on #106
@yoDon Thanks. We are working on stabilizing demo ATM and plan to publish it tomorrow.

[2019-04-21 13:28] #106 closed

[2019-04-22 15:51] stevenmckinnon commented on #89
@barbalex Did you resolve this? I'm facing the same issue with rc.26

[2019-04-22 22:38] TSMMark commented on #104
I'm on the latest `14.2.1` version of graphql and still getting this. Any ideas?

I also have this alias in my webpack config to make sure all packages are using the same graphql module

[code]

[2019-04-23 07:32] barbalex commented on #89
@stevenmckinnon no, I gave up

[2019-04-23 08:05] stevenmckinnon commented on #89
@barbalex I managed to get past it by adding this to my webpack:
`new CopyWebpackPlugin([
                { from: './node_modules/graphql-voyager/dist/voyager.worker.js' }
            ])
`

Got a new issue that the graph doesn't render at all but the docs do :(

[2019-04-23 09:25] IzakMarais commented on #79
Hi Ivan,

Thanks for getting back. However, we have decided not to use graph-ql for our project, so I have moved on to other things.

Regards
Izak

[2019-04-23 09:25] #79 closed

[2019-04-23 11:44] IvanGoncharov commented on #79
@IzakMarais NP. Thanks for responding 👍

[2019-04-23 11:51] IvanGoncharov commented on #89
@stevenmckinnon @barbalex @JHibbard Sorry for the silence.
Currently, `voyager.worker.js` is the most problematic part of integrating voyager into 3rd-party apps/sites.
So we working on bundling everything into a single ~600kb JS file.
ATM, it's our biggest priority for this project and the only blocker for `1.0.0` release.
We will try to finish this project in the next few weeks.

[2019-04-23 11:53] IvanGoncharov commented on #104
@TSMMark Can you please run `npm ls graphql` and post the output here?

[2019-04-23 16:47] TSMMark commented on #104
I ended up trapped in @babel dependency hell and abandoned the task of adding this package. Please forget about me, thanks for your time ❤️

[2019-04-29 13:59] FluorescentHallucinogen opened #116 "Add option to enter endpoint URL"
Currently, https://apis.guru/graphql-voyager/ supports visualizing GraphQL APIs by
1. entering SDL
2. entering introspection
3. using one of built-in samples (Star Wars, Yelp, Shopify Storefront, GitHub)

But it doesn't support visualizing GraphQL APIs by entering the GraphQL API endpoint URL.

This is the first thing I was looking for when I first saw a GraphQL Voyager to try it with my API (with

[2019-05-01 16:35] FluorescentHallucinogen commented on #116
I've tried to add querystring param `?url=http://www.path.to/graphql/endpoint` to https://apis.guru/graphql-voyager/ as suggested in https://github.com/APIs-guru/graphql-voyager/issues/4#issuecomment-333816142, but for some reason it doesn't work (anymore).

@RomanGotsiy @IvanGoncharov Has anything changed since that time?

[2019-05-02 11:29] IvanGoncharov commented on #116
Hi @FluorescentHallucinogen,

It's regression after our recent refactoring.
I will look into it.

[2019-05-06 17:11] FluorescentHallucinogen commented on #116
@IvanGoncharov Have you had a chance to look?

[2019-05-06 20:23] IvanGoncharov commented on #116
@FluorescentHallucinogen Thanks for the reminder.
I added back support for '?url=<url>'
Example: http://apis.guru/graphql-voyager/?url=https://api.graphql.jobs/

[2019-05-18 10:20] mypark opened #117 "How do I add custom metadata to the documentation pane"
It would be great if we can add custom metadata to the documentation.   How would I add custom metadata to the graphql schema so that it could show up in the documentation pane?

For example, I might want to decorate a field or entity with information saying that it requires authentication, or that is Personally Identifiable Information.  Maybe I want to document a data owner or a data steward, et

[2019-05-18 11:23] IvanGoncharov commented on #117
@mypark Sadly GraphQL introspection mechanism doesn't support exposing custom metadata ATM.
As you correctly pointed out it out GraphQL support custom directives but they aren't exposed by the server.
But I'm working on a proposal that will add this possibility to the GraphQL specification.

[2019-05-20 02:47] mypark commented on #117
Would your proposal be similar to the one the Apollo team is suggesting wit the + decorator?

[2019-05-30 12:19] FluorescentHallucinogen opened #118 "Can't visualize OneGraph API"
E.g.: https://apis.guru/graphql-voyager/?url=https://serve.onegraph.com/dynamic?app_id%3D1b2b8f9d-f2de-49a7-b5d6-46c313ddc203

"Transmitting..." is displayed forever. No errors in the browser console. What could be the problem?

[2019-05-30 12:56] IvanGoncharov commented on #118
@FluorescentHallucinogen You graph is so huge it takes 189s to render on my laptop.
![image](https://user-images.githubusercontent.com/8336157/58634106-1f947e80-82f3-11e9-87b0-81b1ca2e10d0.png)

[2019-05-30 12:56] #118 closed

[2019-05-30 13:13] FluorescentHallucinogen commented on #113
One idea (that lies on the surface) of how this might look: mark added types, fields and links in green, deleted in red, and modified in blue/yellow. :wink:

[2019-06-27 07:55] FluorescentHallucinogen opened #120 "GraphiQL plug-in"
How to integrate GraphQL Voyager into GraphiQL?

Recently, I've created my own build of [GraphiQL](https://github.com/graphql/graphiql) + [GraphiQL Explorer](https://github.com/OneGraph/graphiql-explorer) + [GraphiQL Code Exporter](https://github.com/OneGraph/graphiql-code-exporter) (https://graphiql-online.web.app, https://github.com/FluorescentHallucinogen/graphiql-online).

I want to integrate

[2019-06-27 18:21] FluorescentHallucinogen commented on #114
Related issues:

* https://github.com/hasura/graphql-engine/issues/2128
* #120

[2019-06-27 18:26] FluorescentHallucinogen commented on #105
@playerx

Just curious, what's the use case?

Is this somehow related to optimizing GraphQL queries?

[2019-06-28 05:55] playerx commented on #105
Hi @FluorescentHallucinogen, I had situation when there were multiple ways getting from `Type 1` to `Type 2` and it was necessary to analyze all ways and find shortest one. I think its necessary for big graphs when there are lots of domain objects and you don't want to analyze all ways manually and find shortest one

[2019-06-28 06:53] FluorescentHallucinogen commented on #105
@playerx

For what? What's your final goal? To write the most optimized query? Or something else?

[2019-07-07 14:05] sanderhahn commented on #114
Would be convenient if there is an option to skip the aggregate types. Made a checkbox for this in the display options: [example](https://sander.io/voyager.html) in this commit https://github.com/sanderhahn/graphql-voyager/commit/4af5e829ad544f99b29981bd7e2c9164d74d87eb but i can understand that this filter is very Hasura specific.

[2019-07-07 14:33] IvanGoncharov commented on #114
@sanderhahn We implemented a similar feature (skip all types that start with certain prefix) for one of our customers.
So even though your filter itself is Hasura-specific I believe we should provide some mechanism for embedding client-defined filters in Voyager.
It's definitely post-1.0.0 feature but can you please open an issue so we wouldn't forget about it?

[2019-07-07 14:45] sanderhahn opened #122 "User defined schema filters"
Sometimes its handy to be able to filter certain types/fields in a large schema. This is a feature request to be able to introduce such filters without building a custom version of GraphQL-Voyager. One use-case would be to filter out Hasura aggregate fields and types because they clutter the overview. Related issue: https://github.com/APIs-guru/graphql-voyager/issues/114

[2019-07-21 16:38] harobed commented on #43
I see this project https://github.com/pyar6329/graphql-voyager-docker

[2019-07-21 16:40] harobed commented on #43
And this one https://github.com/graphql-services/graphql-voyager

[2019-07-21 17:18] harobed opened #123 "ModuleBuildError: Module build failed (from ./node_modules/css-loader/dist/cjs.js)"
I have this error when I execute `npm run bundle`:

[code]

[2019-07-21 17:25] harobed commented on #123
[`minimize: true`](https://github.com/APIs-guru/graphql-voyager/blob/master/build/webpack.js#L83) is [invalid option in `css-loader` (`v2.0.1`)](https://github.com/webpack-contrib/css-loader/tree/v2.0.1#options)

[2019-07-21 20:09] harobed opened #124 "Many errors when I execute `npm run build:release`: error TS2300: Duplicate identifier 'LibraryManagedAttributes'"
Many errors when I execute `npm run build:release`:

[code]

complete error: https://gist.github.com/harobed/7c3a0acf4544a19297d7c53d20dcd353

[2019-07-21 21:00] IvanGoncharov commented on #43
@harobed I don't have any experience with Docker so can't implement or test it myself but I'm happy to merge PR that adds this feature.

[2019-07-22 08:25] IvanGoncharov commented on #124
@harobed Thanks for reporting 👍
Already fixed on `master` 🎉

[2019-07-22 08:25] #124 closed

[2019-07-22 08:31] IvanGoncharov commented on #123
Fixed in #125

[2019-07-22 08:31] #123 closed

[2019-07-25 20:40] harobed commented on #43
@IvanGoncharov I have created this Pull Request: https://github.com/APIs-guru/graphql-voyager/pull/126

[2019-07-27 07:36] harobed opened #127 "Cross-Origin Request Blocked => to fix it, I need to remove `credentials` in `fetch` call"
I use `graphql-voyager` in this Proof of Concept [poc-postgraphile-forum](https://github.com/harobed/poc-postgraphile-forum/tree/b616245d23a8d3a93a2821a2b266a8b25d055b97).

I have my graphql server on http://127.0.0.1:5000/graphql (powered by [postgraphile](https://www.graphile.org/postgraphile/)).

`graphql-voyager` is exposed on `http://127.0.0.1:3001` and load graphql schema on `http://127.0.0.

[2019-07-30 12:56] hmarchadour commented on #100
Add Graphql in dependencies. (It works for me...)
<img width="341" alt="cap 814" src="https://user-images.githubusercontent.com/1506357/62130829-22532600-b2da-11e9-8d38-f430e27bd060.png">

[2019-08-02 22:58] backbone87 opened #128 "Extract middlewares into separate packages"
When using the middlewares the package wants react & co as peer depencenies, which isnt needed for the middlewares. Could be solved by moving the middlewares into their own packages.

[code]

[2019-08-05 16:56] pmantica1 opened #129 "GraphQL voyager breaks with large schemas"
When I try to use GraphQL voyager with a schema that is about 4500 lines long it breaks, (it just displays a blank screen). It seems though that this schema is just big enough to cause this issue. (If I only include half of the schema object types, it works out perfectly). Do you have any suggestions on how I could, (maybe temporarily), deal with this issue?

[2019-08-05 20:39] IvanGoncharov commented on #129
@pmantica1 It's an issue with hardcoded buffer and stack size for graph rendering
https://github.com/APIs-guru/graphql-voyager/blob/ce68069ec8f10d745293256c20dd0cb76e447985/src/utils/index.ts#L29-L30
We can't increase this limit too much since this memory is fully allocated during Voyager initialization.
We are working on a long term solution, which requires us to switch some of code to WASM.

If

[2019-08-07 17:28] pmantica1 commented on #129
Thank you very much for the info. I think the fix doesn't work for me. I tried increasing the memory multiplier from 16 to 128 and it didn't work and then following all of the commands in the README.md in the example directory. (I am using my own schema by just modifying the schema.js file in the example directory).

[2019-08-07 18:28] IvanGoncharov commented on #129
@pmantica1 Did you increase both numbers? (the bigger one is heap size and smaller is stack size). Also, please check the browser console it can say what wrong.

If it says that maximum call size exceeded that means you hit browser limitation on recursion and only our planned JS conversion to WASM can help.

[2019-08-08 14:12] pmantica1 commented on #129
Yes I did increase both numbers. Will check. Thank you.

[2019-08-22 20:56] mrtnzlml opened #130 "Bug: Voyager doesn't render list with required values correctly"
Hola! :) I have a Gif describing this bug instead of a thousand words:

![Aug-22-2019 15-54-02](https://user-images.githubusercontent.com/978368/63549056-44188500-c4f5-11e9-8f8d-4a60ba49777e.gif)

Notice the position of exclamation mark in `onlyTypes[PlacesFilterOnlyTypesEnum]!` how it changes to `onlyTypes[PlacesFilterOnlyTypesEnum!]` and when I click again it changes to `onlyTypes[PlacesFilterOn

[2019-09-11 19:48] drthankyou commented on #127
I experienced this issue as well. In my case I would prefer to be able to set the HTTP conditions on my own rather than the app assume what my HTTP conditions are.

[2019-10-01 07:23] avwie opened #133 "Doesn't render with empty interfaces"
I have an empty interface, with concrete implementations for all the subtypes and it works perfect. However, in your visualisation is it not possible and I get a console error.

[2019-10-01 07:52] IvanGoncharov commented on #133
@avwie GraphQL requires that the interface is always not empty:

https://graphql.github.io/graphql-spec/draft/#sel-HAHblBFBABABxB4a

[2019-10-02 02:35] johndpope commented on #38
presumably done. I'm doing a spring cleaning across older github issues - so going to close this.

[2019-10-02 02:35] #38 closed

[2019-10-02 19:37] IvanGoncharov commented on #38
@johndpope Yes SDL is now supported in the demo and `Voyager` component 🎉
![image](https://user-images.githubusercontent.com/8336157/66075844-1e0ae980-e565-11e9-9c54-628d60057873.png)

[2019-10-20 18:45] #133 closed

[2019-11-03 22:59] rajington opened #135 "Feature Request: Also Visualize Operations"
The schema visualization functionality is great. The next logical step might be to also input and visualize schema operations.

[2019-11-09 15:55] Fi1osof opened #136 "getJsUrl() clears a document via document.write()"
If include graphql-voyager after load document (because SSR not works) getJsUrl calling clears a document via [document.write()](https://github.com/APIs-guru/graphql-voyager/blob/master/src/utils/index.ts#L44), because document.write works correctly only while DOM still in loading.

P.S. special "thanks" for try/catch with error hiding. 3 hours for debugging...

[2019-11-15 08:22] mikaelparkefelt opened #137 "Interfaces and Types must define one or more fields => NOT true"
In our Grapql Schema we have empty interfaces and types with no members.

**This is causing the following error:**
_Type {{Interface or Type}} must define one or more fields.
    at Ai (main.js:129)
    at main.js:129
    at Yi (main.js:129)
    at main.js:129
    at ya (main.js:129)
    at Aa (main.js:129)
    at n.updateIntrospection (main.js:129)
    at n.fetchIntrospection (main.js:129)
    at

[2019-11-15 09:07] IvanGoncharov commented on #137
@mikaelparkefelt GraphQL requires that the interface is always not empty:

https://graphql.github.io/graphql-spec/draft/#sel-HAHblBFBABABxB4a

[2019-11-15 09:07] #137 closed

[2019-11-18 07:32] mikaelparkefelt opened #138 "Blank screen when schema contian errors like Interfaces and Types must define one or more fields"
When there are errors in the schema like interfaces with no members; they are not following the best practicies of Graphql schemas.

I have injected a schema that has Interfaces and types with no members and what I get is a blank screen with color white.

To see what went wrong I had to look in the console in development mode in the web browser.

I would like the errors to be displayed in a popup

[2019-12-03 22:10] matystl commented on #41
I have initial prototype for this but one problem is that currently voyager don't show parent interfaces if they are not accessible from root which might break how schema looks like. I will try to come with some solutions tomorrow till than here is teaser image of github schema before and after:

![graphql-voyager-before](https://user-images.githubusercontent.com/5859040/70094068-fd711580-1621-11e

[2019-12-04 10:55] jcf120 opened #140 "Dark mode"
Feature request! If we could have a dark mode, I'd be ever such a happy bunny. I'm getting rather dazzled when flicking from my graphql playground tab to my voyager tab.

[2019-12-05 00:27] matystl commented on #129
@pmantica1 FYI i try schema with 1,172,059 lines and voyager parsed it correctly but will not show anything as rendering is too big for him. Small hack you can try limit how many nodes it is showing. in `src\graph\type-graph.ts` > `getTypeGraph` add this line
[code]
It should render at least something. Navigation will be kind of broken but you can play with number of nodes and change `rootType` an

[2019-12-05 21:03] aaronleesmith commented on #73
I can tell you it does work.

[2019-12-05 22:28] IvanGoncharov commented on #73
@aaronleesmith Thanks 👍

[2019-12-05 22:28] #73 closed

[2019-12-11 18:26] andrectw commented on #89
Hi @IvanGoncharov   I have the same issue using when trying to integrate this component in our application using the version 1.0.0-rc.28.  Appears the error Uncaught SyntaxError: Unexpected token '<'  and stuck with Transmitting. Is need to wait for version 1.0.0 for this to be solved ? Many thanks

[2019-12-13 18:59] JizongL opened #144 "How do I deal with unauthorized token issue"
I use Express and followed the install guide, however, the api I am trying to use is from company and is protected, how do I deal with the token issue?

{"errors":[{"message":"Unable to validate user. UnauthorizedError: No authorization token was found"}]}

[2019-12-16 08:17] VladimirAlexiev opened #145 "allow two underscores in input objects"
Voyager complains about `__typename` in this piece of a query schema:

[code]

Two underscores are indeed reserved for https://graphql.github.io/graphql-spec/draft/#sec-Type-Name-Introspection, but that pertains to (output) objects, not input objects. GraphiQL and graphql-java have no problem with such input field name. Please allow it.

For the time being we've implemented a workaround by using o

[2019-12-16 09:47] IvanGoncharov commented on #145
Please see: https://graphql.github.io/graphql-spec/draft/#sel-IAHhBVDDBDCAACCTx5b

Newer versions of GraphiQL will also crash with an identical error.
We supported such names for more than a year to allow the community to migrate but now it's removed from `graphql-js` so both Voyager and GraphiQL will always crash:
https://github.com/graphql/graphql-js/pull/2129/files#diff-1f3d3db86726f8374219736d

[2019-12-16 09:47] #145 closed

[2019-12-16 09:49] IvanGoncharov commented on #144
If you need to pass the token as a header please use `headersJS`:
https://github.com/APIs-guru/graphql-voyager#properties-1

[2019-12-16 11:19] VladimirAlexiev commented on #145
Thanks for the clarifications!

[2020-01-15 23:26] bsalehi commented on #105
One goal would be explainability

[2020-01-19 22:44] usmcamp0811 commented on #127
I am running into this same problem. I am using Graphene + Flask in Docker to build out an API and wanted to also use Voyager but can't load the schema due to CORS error.

[2020-01-20 09:58] kub1x commented on #111
I had the very same problem and had to find this thread to figure it out.
Totally missed the little chevron icon on the menu box.
I was looking rather for a "change introspection" button somewhere up in top left corner.

[2020-01-28 11:32] allco commented on #138
I have blank screen with my schema which is 12199 lines long, maybe it has the same issues as @mikaelparkefelt schema or maybe it is just too long. Anyway it would be awesome to have some message instead of blank screen.

[2020-02-01 18:03] pietro909 opened #149 "Website flagged for Ethereum Phishing"
Hi there,
got this message while trying to access the website:

![Screenshot 2020-02-01 at 19 02 45](https://user-images.githubusercontent.com/2094604/73596752-73f89980-4525-11ea-806a-f35048abfc13.png)

From
https://github.com/metamask/eth-phishing-detect

[2020-02-02 07:46] IvanGoncharov commented on #149
@pietro909 Thanks for taking time to report it and especially for figure out a proper repo to report it 👍
Reported here https://github.com/MetaMask/eth-phishing-detect/issues/3636

[2020-02-02 07:46] #149 closed

[2020-02-03 18:41] FluorescentHallucinogen commented on #114
This issue can be closed as done.

[2020-02-04 03:01] glennr opened #150 "Text overlap issues in Firefox (Linux)"
First of all kudos. I love this tool!

I've noticed an annoying visual issue in Firefox 72.0.2 (64-bit) (Ubuntu)

![image](https://user-images.githubusercontent.com/72130/73709770-bb616e80-474d-11ea-9c9c-910158ce2a9e.png)

Field names are overlapping their types - and in many cases the RelayConnection icons, or the required "!" indicators also overlap the type/scalar.

The same graph renders just

[2020-02-04 03:49] IvanGoncharov commented on #150
@glennr Thanks for reporting 👍
I suspect that it can be because you are missing one of the fonts.
In general, our current way of calculating box size is one big hack 😞
But we are working on a better long term solution.

[2020-02-04 04:11] glennr commented on #150
Cheers for the quick reply.

I'll took a shot at tracking down which fonts are getting rendered. Definitely a discrepancy between the two browsers.

Firefox is on the left hand side, Chrome the right.

![image](https://user-images.githubusercontent.com/72130/73713087-d9cc6780-4757-11ea-9d64-f82cfd697ad0.png)

Seems like Firefox rendering `DejaVu Sans` - but Chrome using `Liberation Sans`

Interest

[2020-02-04 16:47] Apollinaire opened #151 "Argument of type [String!] is shown as type [String]!"
The following type definition:
[code]

is incorrectly displayed in the left panel, where the position of the exclamation mark is wrong.

[code]

Screenshot:
![image](https://user-images.githubusercontent.com/5938985/73766254-11e2a300-4776-11ea-90ff-f37da21dce82.png)

[2020-02-06 04:20] #151 closed

[2020-02-06 04:28] IvanGoncharov commented on #151
@Apollinaire Thanks for reporting 👍
Fixed both in the demo and release `graphql-voyager@1.0.0-rc.29` 📦

[2020-02-12 14:39] LunaticMuch opened #152 "Ability to use a schema.graphql as preset"
Hi,

I am working on the last public version. I am looking to change it in a way I can use a schema.graphql as input preset rather than an introspection.

The first attempt on presets.ts was

[code]
but it failed on compilation

[code]

Am I completely wrong here?

Thanks
LM

[2020-02-14 08:41] conanchen opened #153 "Doesn't render interface api"
env:
 // to embed Voyager tool
    implementation ('com.graphql-java-kickstart:voyager-spring-boot-starter:6.0.1')
api:
type Query {
   thing(id: ID): Thing
}

interface Thing{
   name: String
}

start my applicaiton and access to http://localhost:8080/voyager, error：

  react-dom.min.js:117 TypeError: Cannot read property 'type' of undefined

[2020-02-17 09:11] conanchen commented on #153
that is my problem, in the connection  i was wrong with
  """A list of edges."""
  edges: [Thing]

should be
  """A list of edges."""
  edges: [ThingEdge]

[2020-02-17 09:11] #153 closed

[2020-03-09 07:27] sanketCactus commented on #152
Do we have this feature to use schema directly or it only works with introspection query?

[2020-03-09 07:36] sanketCactus commented on #62
is this closed ?

[2020-03-11 13:13] mmaico opened #154 "Add heat map ability"
Hi guys, i'm working on a project where it is necessary to see which graph nodes are being used by customers and which customers are using them. I am working on this feature and I would like to know if it makes sense for us to add to the project. I'm using Apollo Server and developing a plugin that will heat the node called by customers.

 I am thinking of changing the colors of the "tables" accor

[2020-03-11 19:24] DrYSG opened #155 "Subscriptions"
I am not seeing subscriptions. Is this a feature request?

[2020-03-11 20:20] DrYSG commented on #155
BTW, I also tried looking at:
https://swapi.graph.cool/ with voyager,

and when I expand the queries root, I don't see the mutations.

[2020-03-13 11:36] IvanGoncharov commented on #155
@DrYSG Strange, for `swapi.graph.cool` I see subscriptions in the list:
![image](https://user-images.githubusercontent.com/8336157/76617567-3b3dde00-652f-11ea-9c3d-53ba6f8f7990.png)

Can you reproduce it using our demo: https://apis.guru/graphql-voyager/

[2020-03-13 12:29] IvanGoncharov commented on #154
@mmaico I built a similar project on top of Voyager for my conference talk:
![demo](https://user-images.githubusercontent.com/8336157/76617982-1e55da80-6530-11ea-8c1e-e7053a5966a3.gif)

Here is source code: https://github.com/APIs-guru/graphql-coverage
So you can achieve this functionality without modification of Voyager.

[2020-03-13 13:09] IvanGoncharov commented on #152
@LunaticMuch Sorry for the late response.
You need to change this line:
[code]

[2020-03-13 13:09] #152 closed

[2020-03-13 14:45] mmaico commented on #154
Niceeeeee... I'll look this project. Thanks man!

[2020-03-13 14:45] #154 closed

[2020-03-13 15:10] DrYSG commented on #155
Must be I don't understand the interface. I don't see anything like what you show when I go to the demo page. (which I assume the star wars schema is swapi.graph.cool,

![image](https://user-images.githubusercontent.com/2865368/76633537-4424b480-651b-11ea-9656-c1b9bfc192b0.png)

[2020-03-13 15:44] IvanGoncharov commented on #155
@DrYSG StarWars schema is official https://graphql.org/swapi-graphql/ that only has Query.
You can try different APIs by clicking `Change Schema` and then switching to `Introspection` tab.

You need to select root type from drop-down list on the floating panel.
![image](https://user-images.githubusercontent.com/8336157/76636672-20c92c00-6552-11ea-8c1b-add7dc656649.png)

[2020-03-14 09:34] Nishchit14 commented on #155
@DrYSG Here you can directly review the schema graph with FireQL.

http://fireql.dev/?url=https://swapi.graph.cool/graphql (just click on `Chart` button)

Also just created a video with it here, https://youtu.be/j6UF357qwSE

I hope it will hepl!!

[2020-03-16 20:44] LunaticMuch commented on #152
It works in theory, but not in practice. `buildSchema` interprets the file path as a string rather than a source file.
Even using a construct like:

[code]
does not solve. Possibly an issue with `graphql-js`

[2020-03-17 17:30] DrYSG commented on #155
As I suspected, my ignorance. I was missing the fact that the pop-up had a dropdown that could be switched between Query, Mutate, and Subscribe, So I was not see in the first clip you showed. The video made things really clear.

I was testing this against my RUST (JUNIPER) based server, which had subscriptions.  introspection is also working there, and thanks for the fireql link. I don't think tha

[2020-03-17 17:30] #155 closed

[2020-03-18 04:44] Nishchit14 commented on #155
Great, I'm happy that it answered your question.

Yes, I can understand your concern about security. https://fireql.dev is a part of https://firecamp.io, If you're using **WebSocket or GraphQL** then you can give it a try. we're still in beta and hearing a lot of feedback from our users.

[2020-03-18 16:11] DrYSG commented on #155
I use insomnia or postman for our offline site. But no WS with them. Postwoman, looks interesting. But yours looks best for subscribing.

[2020-03-31 10:53] TheFoxDecoder commented on #140
hell yeah!!! i agree with that, after all, we are still programmers, not a designers

[2020-04-03 15:22] beerose commented on #91
It's not an Angular problem, but TypeScript one. There's `SvgPanZoom` namespace required in typings, but not provided.

[2020-04-05 09:27] FluorescentHallucinogen commented on #4
See #148. :wink:

[2020-04-05 09:30] FluorescentHallucinogen commented on #155
@DrYSG

You're not alone. See e.g. #135. Looks like a bad UX.

[2020-04-05 09:36] FluorescentHallucinogen commented on #135
You can select "Mutation" root type from drop-down list on the floating panel and see operations:

![76636672-20c92c00-6552-11ea-8c1b-add7dc656649](https://user-images.githubusercontent.com/7892779/78471444-faa24080-7739-11ea-9a3c-6ad9dd92f5b4.png)

[2020-04-05 11:35] FluorescentHallucinogen commented on #113
I've made some progress on this. PTAL at https://twitter.com/alexey_rodionov/status/1227289665046241280. :wink:

[2020-04-06 16:43] rajington commented on #135
sorry, I meant [GraphQL Operations](https://spec.graphql.org/June2018/#sec-Language.Operations) as in the actual `mutation` and `query` (lowercase) calls _to_ the schema

[2020-04-11 10:40] nadavtal commented on #93
so how did you fix this?

[2020-04-25 13:24] FluorescentHallucinogen opened #160 "Add advanced search options"
This is an expansion of the idea in PR #157.

It would be really nice to add advanced search options.

Here's my vision:

![graphql-advanced-search-options](https://user-images.githubusercontent.com/7892779/80281037-09648d80-8711-11ea-880b-b519d533886b.png)

[2020-05-05 14:30] jeromecambon opened #161 "Using Safari, issue moving in the graph"
Using graphql-voyager@^1.0.0-rc.29 with Safari 13.1 on Mac OS 10.15.4 :

- graph is not centered horizontally at start time
- Moving in the graph does not work : small move, than not able to move anymore

[2020-05-13 12:31] divyamvpandian commented on #63
Hi Can i know if changing the limit  invoyager js from 2 * 16777216  to a higher value helped?

[2020-05-18 22:29] JeffJankowski opened #162 "Incompatibility with graphql@15.0.0+"
It looks like there is some breaking changes in version 15+ of the graphql library in regards to fetching the introspection query.

Any function passed to the `introspection` property of the the Voyager component receives `undefined` for the `query` parameter. A cursory glance at the graphql-voyager code looks like the following line can no longer resolve from the graphql/utilities peer dependency

[2020-05-18 23:34] IvanGoncharov commented on #162
@JeffJankowski Thanks for taking the time to report it and even more for detailed investigation 👍
The funniest part is that I'm the maintainer of `graphql` package and removed `introspectionQuery` myself 🤦
I will try to release fix ASAP.

[2020-05-19 00:03] #162 closed

[2020-05-19 00:04] IvanGoncharov commented on #162
@JeffJankowski Fixed and released as `v1.0.0-rc.30` 🎉
Can you please test?

[2020-05-19 16:36] divyamvpandian opened #163 "GraphQL Voyager Transmitting mode for large Schemas"
Hi,

When i open voyager for the schema i have, i can see the left pane listing all objects but the relationship diagram is not getting loaded. I tried with lesser no of types (almost 50% removed)  and it gets loaded and i can navigate well.  This is similar to https://github.com/APIs-guru/graphql-voyager/issues/63

I see same error - "Cannot enlarge memory arrays. Either (1) compile with -s TOTAL

[2020-05-20 22:01] JeffJankowski commented on #162
@IvanGoncharov Looks good on my end. Appreciate the quick patch!

[2020-05-21 08:33] alles opened #164 "How to use it in IE11? It is possible?"

[2020-05-21 22:18] IvanGoncharov commented on #164
@alles In theory, it can be possible by adding external polyfills and running voyager code through Babel.
But we have very limited resources to non-evergreen browsers so sadly it's not something we can provide out of the box.

[2020-05-21 22:18] #164 closed

[2020-05-22 06:44] alles commented on #164
Thanks for your answer.

[2020-05-22 09:29] IvanGoncharov commented on #163
@divyamvpandian If you use our middleware you are definitely using one from `cdn.jsdelivr.net`.
We need to figure out how to read CDN links especially since it will also enable offline support.

[2020-05-22 09:41] divyamvpandian commented on #163
Thanks @IvanGoncharov Just for a test, i changed render voyager js to fetch voyagermin js from my localhost file with memory increased to 16777216 * 32 and can see the diagram getting loaded in FireFox.

[2020-06-19 19:02] FluorescentHallucinogen commented on #160
As an idea, what about search filter chips? :wink:

![graphql-search-filter-chips](https://user-images.githubusercontent.com/7892779/82762653-e65df400-9e0a-11ea-87ba-eb67c0630299.png)

[2020-06-19 19:02] FluorescentHallucinogen commented on #160
See https://graphqleditor.com/static/explorer-ba1e02884f0676ce1eb1e67c041e63dc.mp4

[2020-06-26 10:32] nabeelvalley opened #167 "Feature: Activate/Deactivate visualization for specific types"
It would be useful to be able to select which types are active in the visualization at any given time. e.g. a checkbox next to the node in the Type list to include/exclude in the visualization

This would be particularly helpful for viewing relations to a specific type or even just to cut down how much is in view when working with large schemes

[2020-06-28 13:37] FluorescentHallucinogen commented on #167
PTAL at #60. :wink:

[2020-06-30 23:05] slimlime commented on #122
![image](https://user-images.githubusercontent.com/30815731/86185385-a3b1d900-bb79-11ea-9174-e1d51c971bba.png)
Picture for reference - Those are some nice curvy arrows

https://github.com/APIs-guru/graphql-voyager/issues/167

[2020-07-07 10:24] kolharsam commented on #129
So in light of this issue, have you considered changing the visualization library that you use, instead of `viz.js`? Do you plan to do it anytime in the near future?

[2020-08-12 10:19] LunaticMuch opened #170 "Adding change schema model when voyager is used as a library"
Hi,

I am trying to build something simimlar to the demo where it is possible, through a modal/button, to change the schema on the fly.
The demo today is tightly coupled with voyager library sources. Do you think it is possible just to call voyager library and extend some react component to enable the button on top? Anybody has done it and can share an example?

[2020-08-12 21:08] LunaticMuch commented on #170
I've found the way, easy to be fair:

[code]

[2020-08-12 21:08] #170 closed

[2020-08-14 05:25] zhjunjun opened #171 "When and which version to support search by description?"

[2020-08-14 07:53] FluorescentHallucinogen commented on #171
@zhjunjun Search in descriptions implemented in my pull request #157, but for some reason it's not merged.

@IvanGoncharov @RomanHotsiy When #157 will be merged?

[2020-08-14 08:24] zhjunjun commented on #171
@FluorescentHallucinogen Awesome pr, great job,sure is what i want
 urgent need
@IvanGoncharov @RomanHotsiy #157 Is there any problem?

[2020-08-23 07:33] rberger opened #172 "Support AWS Appsync GraphQL ?"
Is there a way to use GraphQL-voyager with the AWS AppSync graphql custom directives?

[2020-08-25 13:20] #130 closed

[2020-09-03 20:01] tony commented on #152
Hi there!

I'm a bit confused. I don't see an example of a schema file working with graphql-voyager.

In the example given, it's very abstract, across multiple files, and basically not a schema file.

I was sort of expecting a couple of lines of JS. Reading a schema file and showing it in a react component.  That would be an example in terms of what I'm looking for. 🤷

[2020-09-03 20:24] LunaticMuch commented on #152
@tony to use a schema file (SDL), you need to make three changes:

1. In `presets.ts` you must import the following `import {buildSchema, introspectionFromSchema} from 'graphql'`
2. In `presets.ts` you generate the introspection in a way like this:
[code]
3. In `webpack.demo.js` (or `webpack.js` depending what you're trying to do) you must tell webpack how to deal with a graphql file. Here what yo

[2020-09-07 20:01] Alicecold commented on #140
Is there a way to change to a custom css theme? I also kind of need a dark mode (for accessibility reasons rather than the "matrix hacker" aesthetic 😉 ) but if it is already possible to customize the css theme that would of course mean that I can use that to make my own dark mode.

If not, please at least make a dark mode! Maybe by utilizing `@media (prefers-color-scheme: dark)`? Almost all browse

[2020-10-12 08:45] wadim-al opened #175 "176 errors after running "npm run build:release""
Steps:
1. Run npm install in the parent directory
2. Run npm run build:release in the parent directory

Problem: 176 errors after issuing the "npm run build:release" command

Logs:
[2020-10-12T08_35_38_034Z-debug.log](https://github.com/APIs-guru/graphql-voyager/files/5363972/2020-10-12T08_35_38_034Z-debug.log)
[2020-10-12T08_35_38_014Z-debug.log](https://github.com/APIs-guru/graphql-voyager/files

[2020-10-21 10:21] ClaudiuCeia commented on #128
This, please.

[2020-10-25 16:01] crosscontrolledspin opened #176 "Can we convert field names into Hyperlinks?"
In my organization, we would like to open a new window from the Voyager interface to a data wiki we maintain around field names. Can we add a feature which for example uses a base property of the Voyager, say, "FieldHyperLinkBase" that can be say, "https://data.myorganization.com" and then clicking on the field name takes the user to https://data.myorganization.com/{name_of_field}

[2020-11-05 08:24] quadgod opened #177 "CDN broken"
https://github.com/APIs-guru/graphql-voyager/blob/master/src/middleware/render-voyager-page.ts#L37

![image](https://user-images.githubusercontent.com/3990608/98215910-aae25c80-1f48-11eb-8fb0-227c9edbcd79.png)
![image](https://user-images.githubusercontent.com/3990608/98215953-b9307880-1f48-11eb-8bb9-171328df3402.png)

[2020-11-05 08:27] #177 closed

[2020-12-11 13:00] klausi opened #179 "yarn audit problem with @material-ui/core"
Hi,

`yarn audit` reports a security issue in the dependency graph of graphql-voyager. The solution would be to upgrade @material-ui/core, would that be a problem?

Steps to reproduce:
[code]
Result:
[code]

Thanks!

[2020-12-20 12:10] setchy commented on #179
I believe this is the same as the PR I submitted a while back #174.  Still waiting for a review and merge

[2020-12-29 14:25] joaogarin commented on #179
I still get a vulnerability report for materal ui core. I think this might need some more work maybe with updating material ui core to v4

[2020-12-30 14:46] setchy commented on #179
Just re-opened #174 and updated to latest minor and patch versions

[2020-12-30 15:49] setchy commented on #179
I have re-opened #174 and updated all minor and patch dependencies

[2021-01-05 08:38] yooseongjin527 opened #182 "Is there an option to prevent voyager from being seen in a production environment?"
Is there an option to prevent voyager from being seen in a production environment other than a development environment?

[2021-01-06 08:17] #182 closed

[2021-01-12 19:18] setchy commented on #179
Now we just need a maintainer to help @klausi

[2021-02-24 13:36] spawnia commented on #116
I can confirm this works. Thanks @IvanGoncharov

[2021-02-24 13:54] spawnia opened #184 "Include option to change schema in bundled version"
Hi Ivan 👋

The control panel *Change Schema* from https://apis.guru/graphql-voyager/ is really useful to me. It is only available in the demo version and not the bundle available from a CDN.

![image](https://user-images.githubusercontent.com/12158000/109009928-750be400-76af-11eb-9870-d0592fef9fbd.png)

It would be great if it could be included within the bundled version, so it can be reused easil

[2021-02-25 21:30] hongbo-miao opened #186 "Add privacy policy for online version GraphQL Voyager"
The [online version](https://apis.guru/graphql-voyager/) is quite convenient without need to host it on local machine.
It would be great to add a privacy policy for the online version GraphQL Voyager to help people more confident to use it.
Something like "we don't collect any info".

And thanks for the great tool!

[2021-03-10 03:39] iambumblehead opened #187 "is this project still maintained?"
is this project still maintained? are there alternatives or forks available?

[2021-03-13 09:27] LunaticMuch commented on #187
I believe no. Which is a shame.

[2021-03-19 04:30] iambumblehead commented on #187
@LunaticMuch it is shame. This voyager api tool is really one of the best web tools I've seen or used.

[2021-03-19 14:28] IvanGoncharov commented on #187
@iambumblehead @LunaticMuch Thanks for the kind words about our project 😊
We have big plans for moving this project forward but it requires a lot of work hours together with day-to-day maintenance.
So we are in the process of finalizing a solution that will give us the necessary financing.
I will keep this issue open and will update you here.

[2021-03-19 14:29] LunaticMuch commented on #187
Feel free to get to get in touch for any help.
On 19 Mar 2021, 14:28 +0000, Ivan Goncharov ***@***.***>, wrote:

[2021-03-19 19:30] iambumblehead commented on #187
@IvanGoncharov that is great news! thank you for your response :)

[2021-03-23 21:29] ifnull commented on #187
@IvanGoncharov I've been using this on a project over the last year and love it. Any chance you could create a new release with what is in the `master` branch? I see a lot of improvements on the live demo from what I see in 1.0.0-rc.31. Thanks!

[2021-03-30 13:30] artemvd commented on #96
Has anyone found solution?

[2021-03-31 12:58] rebelnn opened #188 "Queries to mutations switch?"
Hello, I'm using the online demo and saw couple of other folks found a way to change from query to mutations however, I cannot find that chevron Icon. It was referenced in

Issue #32
Issue #111

Any idea where to look for it?

[2021-03-31 20:57] rebelnn commented on #188
disregards, it's on the bottom of the screen if someone is looking for it.

[2021-03-31 20:57] #188 closed

[2021-04-06 09:11] Musayeb commented on #123
k

[2021-04-08 22:13] yogeesh-alphaics commented on #96
Is there any solution to this problem yet?

[2021-06-08 11:06] mortifia opened #200 "feature add view all"
![image](https://user-images.githubusercontent.com/22671054/121174300-103d5980-c85a-11eb-87c3-0f69ff1c5c5a.png)

add posibly to wiew two shema (query/mutation)

[2021-06-14 08:24] RomanMatolychTR opened #202 "Compiling with warnings"
After literally adding Voyager component to my app, this is what I see in the console:

    WARNING in ../node_modules/commonmark/lib/common.js 61:15-25
    "export 'decodeHTML' was not found in 'entities'
     @ ../node_modules/commonmark/lib/blocks.js
     @ ../node_modules/commonmark/lib/index.js
     @ ../node_modules/graphql-voyager/dist/voyager.lib.js
     @ ./pages/Introspection/Introspecti

[2021-06-24 10:44] dArignac commented on #95
As far as I know the convention is to use `"""text"""` and that works with the most recent version:

[code]

![grafik](https://user-images.githubusercontent.com/106409/123249950-d28f3080-d4e9-11eb-9e3b-205d9662f774.png)
![grafik](https://user-images.githubusercontent.com/106409/123249997-df138900-d4e9-11eb-879d-524a66fb6864.png)

[2021-07-05 10:14] borbea commented on #136
@Fi1osof I know this post is pretty old but did you maybe found a fix this? Or how to load Voyager component after the document. Thanks

[2021-07-06 09:22] Fi1osof commented on #136
It's really pretty old... And probably i can't help. I create fork https://github.com/prisma-cms/graphql-voyager and rewrite many code. And then include in my project https://github.com/prisma-cms/front/blob/2.7.4/src/components/pages/GraphqlVoyager/index.js#L25

[2021-07-08 07:31] unitw opened #203 "t is undefined"
when im using the voyager on my website the error.
[code]
appears and my whole website layout goes out the window.
This only happens when the website is deployed and  im opening a dialog otherwise its working as intended.

[2021-07-08 14:49] DCosti commented on #89
Hi! I am using ^1.0.0-rc.31 version but I have the same issue. Do you have any updates on this?
Thanks!

[2021-07-08 21:14] unitw commented on #203
Any thoughts how i can prevent this behavior?

[2021-07-29 12:04] crimbler2 commented on #109
For anyone stumbling over this, the issue can be fixed by setting the MaximumQueryDepth param to a really high number or simply removing it. This is not something you wanna do for production, ofc.

[2021-08-12 17:27] Saud-Ahmad opened #204 "GraphQL voyager breaks with large schemas (only with mutations)"
When I try to switch queries to mutation GraphQL voyager with a schema that is about 400,000 lines long it breaks, (it just displays a blank screen). It seems though that this schema is just big enough to cause this issue. Do you have any suggestions on how I could, (maybe temporarily), deal with this issue?

[2021-08-12 19:32] Saud-Ahmad commented on #204
When a schema loaded, Queries are fine

![graph1](https://user-images.githubusercontent.com/81484562/129255717-cb8fd96d-66bb-4e5b-82af-739269eda05b.JPG)

But when i switched to mutations

![graph2](https://user-images.githubusercontent.com/81484562/129252937-e7346e0d-4cae-4581-970d-cee30cf383b5.JPG)

After few minutes display a blank screen

![graph3](https://user-images.githubusercontent.com/8148

[2021-08-13 00:56] Saud-Ahmad commented on #204
Now I open console when i switch to mutations, got error.

![graph_error](https://user-images.githubusercontent.com/81484562/129288064-67f62994-51e4-44ec-a46d-67a821d44f0f.JPG)

@IvanGoncharov

[2021-08-13 08:07] Saud-Ahmad commented on #204
can you fix this error online version @IvanGoncharov ?

[2021-08-13 15:57] kamalkech opened #207 "With nestjs"
On documentation cannot found how can implemented with nestjs !

[2021-08-14 00:34] Saud-Ahmad commented on #204
can you fix this error on online version @IvanGoncharov @RomanHotsiy @knidarkness  ?

[2021-09-03 12:07] Sim4n6 opened #208 "[Question] are introspection data stored somewhere ?"
Does https://apis.guru/graphql-voyager/ store data somewhere or it is client side only, please ?

[2021-09-03 22:42] tjsearsz commented on #207
@kamalkech  Maybe there is a "nestjs way" to implement it, but I was able to make voyager work by calling it on main.ts. Similar as the documentation states:

![image](https://user-images.githubusercontent.com/11713783/132071707-8a387eb2-0791-4070-ada5-7dc3115af9b7.png)

![image](https://user-images.githubusercontent.com/11713783/132071747-ec2f162d-79e8-4aed-8408-cc66528af8f1.png)

[2021-09-06 10:31] kamalkech commented on #207
@tjsearsz thank you for you response, i already fixed and i forget to close this post

[2021-09-06 10:31] #207 closed

[2021-09-14 12:07] #208 closed

[2021-09-15 00:35] dandandy commented on #34
Hi,

I think this feature (Generate Query based on selected objects or fields) would be really helpful for users of a graph.

I can see that this hasn't been updated for a few years. Is this feature something you are still considering working on? If so, are you looking for contributors to work on this?

[2021-09-15 16:55] FluorescentHallucinogen commented on #34
See https://github.com/OneGraph/graphiql-explorer/issues/10#issuecomment-724260892. :wink:

[2021-09-28 21:13] federico-piazza opened #210 "Ability to hide grayed out types and links"
Hello guys,

We have the possibility of skip relay, show/hide leaf and skip deprecated, however I didn't find any way to hide anything that is not related to my selection.

I have a GraphQL schema with lots of types and the graph is huge, it would be great if whenever I click on a type, query or mutation the diagram has a feature to hide everything that is not related to my selection and render a

[2021-10-01 22:15] yar00001 opened #211 "gqlgen integration"
Hello - I am wondering if there voyager could be integrated with [gqlgen](https://github.com/99designs/gqlgen). Is there any wiki on how to integrate it with golang services out there?

[2021-10-12 11:21] kristiankostecky opened #213 "Bug: 'resize' event listener not removed on unmount causing TypeError"
When component is unmounted event listener for `resize` should be removed. But `addEventListener()` and `removeEventListener()` does not reference the same function.

https://github.com/APIs-guru/graphql-voyager/blob/4108ef98817fd71671e940c968126c29e0b24bf0/src/graph/viewport.ts#L53

https://github.com/APIs-guru/graphql-voyager/blob/4108ef98817fd71671e940c968126c29e0b24bf0/src/graph/viewport.ts#L2

[2021-10-14 22:08] egandrew opened #214 "SchemaProvider did not return a Promise for introspection"
The simple sample on the readme returns blank due to error in Safari and Chrome: Error: SchemaProvider did not return a Promise for introspection. (The HTML with minimal setup ... )

[2021-11-03 10:43] sandromartis commented on #89
Same issue here with `1.0.0-rc.31`. Is this project still maintained?
Looks like this issue has been open for about 2 years now.

[2021-11-05 08:17] tomoat commented on #93
AlsoAsk？@doubledjdcb

[2021-11-30 10:21] orefalo commented on #204
the way I see it you have two options-
- break your schema in subdomains
- increase your machine memory

[2021-11-30 10:22] orefalo commented on #203
recommend to close - can reproduce

[2021-12-02 19:49] flexiblefactory commented on #204
We are also having this 'non-issue' ;) Is there a reason why `ALLOW_MEMORY_GROWTH` cannot be used? Can you point to the part of the project where this emscripten compilation is done?

[2021-12-03 19:13] orefalo commented on #204
The issue seems to be coming from viz.js  - it has a limit to 256mb.
Looks like this fork https://github.com/aduh95/viz.js would solve the issue. as it has support for ALLOW_MEMORY_GROWTH

Now I am not sure what it will take to reimplement voyager around it.

[2021-12-09 10:24] jhartum opened #216 "graphql voyager does not have select root type"
Hello! My graphql voyager does not displaying select root type
I check the schema in a docker container and the schema is generated correctly, but I cant select mutation on graphql voyager

dockerfile
[code]

[2021-12-09 10:27] jhartum commented on #216
![image](https://user-images.githubusercontent.com/65132968/145379287-a0414ccd-face-4eac-8506-dce8d0447c29.png)

[2022-01-13 00:11] Booligoosh commented on #172
Managed to get it working with an AWS Amplify / AppSync schema. Rather than pasting the `schema.graphql` in the SDL tab, go to the Introspection tab, then paste the contents of your compiled `schema.json` file.

[2022-02-11 07:01] ladecruze opened #218 "Cannot see mutations for my graphql response"
[response.txt](https://github.com/APIs-guru/graphql-voyager/files/8046459/response.txt)

I have found workarounds to enable mutations on the demo site but I cant see mutations for my graphql response! I dont know whether it is tool issue or mine. I have attached my response here, kindly lemme know.

[2022-02-24 11:26] alfaproject commented on #187
@IvanGoncharov it's been a while and I'm wondering if you can give another update

[2022-03-17 07:19] fishme commented on #218
same for me

[2022-03-17 10:03] fishme commented on #218
@ladecruze after some minutes of deeper investigations it works for me, but only Mutation or Query :)
rootType : ['Query'] or rootType : ['Mutation'] both are not working rootType : ['Query', 'Mutation']
[code]

[2022-03-21 12:56] usamazansari opened #222 "Unable to view the visualization in `Nx` Workspace"
Hi, I am trying to visualize the GraphQL Schema in my `Nx` Monorepo.

I am using an `Angular-NestJS` workspace and here is how I have configured the middleware

[code]

I open the tool on `http:localhost:3333/api/voyager` and get the following error in the console

[code]

My `schema.gql` file lies in `libs/databse/graphql/schemas/schema.gql`.

- Am I configuring the middleware correctly?
- Is the

[2022-04-21 16:00] robross0606 opened #224 "Bug: Breaks with newer GraphQL spec support like interface inheritance"
This repository hasn't been updated in two years, with no release in 5 years.  In the meantime, the spec has been updated to support things like [Interface inheritance](http://spec.graphql.org/draft/#sec-Interfaces.Interfaces-Implementing-Interfaces).

[code]

Is this tool abandoned or are there plans to update it to support newer standards features?

[2022-05-09 21:23] LouisAmon commented on #111
Coming way after last comment but I totally missed the chevron as well

Wouldn't it make much more sense to have a an abstract "Root" which then contains "Query", "Mutation" and Subscription" (and henceforth for their endpoints) ?

This way we wouldn't need the chevron menu as much and would be able to search any endpoint in the search bar

[2022-05-26 16:50] k4k4r07 opened #226 "Live Demo is now giving 404"
Live demo at https://apis.guru/graphql-voyager/ seems to be removed. Is this intended or will it be up again?

[2022-05-26 17:03] FluorescentHallucinogen commented on #226
@k4k4r07 See https://ivangoncharov.github.io/graphql-voyager/. :wink:

[2022-05-26 17:44] k4k4r07 commented on #226
Thanks a lot @FluorescentHallucinogen

[2022-05-26 17:44] #226 closed

[2022-05-27 08:07] LunaticMuch commented on #224
It's resuming. Give us few weeks.
Can you provide more info to reproduce this bug? An example schema would definitely help.

[2022-05-27 11:17] robross0606 commented on #224
Turns out the latest release candidate supported some of the newer spec features.  I just had to manually update to release candidate 31 to get them.

[2022-05-27 11:17] #224 closed

[2022-05-29 08:50] IvanGoncharov opened #227 "Roadmap"
A lot of stuff is overdue on this project.
But as first priority I want to take steps that simplify the maintainer job and allow to develop new features faster:
- [] Update deps
- [] Improved build demo/release scripts
- [] Publish demo with CI
- [] `strict: true` in `tsconfig.json`
- [] ESLint + pluggings

[2022-05-29 09:51] LunaticMuch commented on #227
I also propose a simplified version of the demo with a single html file that loads a schema from an internet endpoint using voyager as a library.
The current demo was fantastic for showing library feature, but also causing the repo code to be a bit messy. It would be easier to split the whole big demo into a separate repo which serves a demo website, if needed, and just maintain the library core r

[2022-05-29 10:52] LunaticMuch commented on #227
My PR #228 also include this demo

[2022-05-30 10:20] IvanGoncharov commented on #227
@LunaticMuch My main concern is how hard it would be to develop locally.
Currently, I just run `npm start` to do a code change and immediately see the result in a demo.
Don't see how I can easily test code changes without it.

[2022-05-30 10:24] LunaticMuch commented on #227
True, but would not a small express server doing the same in a much easier way?  Today demo is a complex package, because allows for several options, it's in the between a stable demo website (what used to be) and a local sandbox.
I think the website, whether can keep having it, it should be a completely different package.
For the sandbox, it can be an express running a simple graphql server based

[2022-05-31 11:02] IvanGoncharov commented on #227
@LunaticMuch By demo being complex do you mean "Change Schema" functionality?

We have a lot of traffic for "demo" (> 3k unique visitors/month) so I want to continue to work on it and add more features.

It would be hard to maintain a separate repo (hard to test changes, doubling release and other maintenance work, etc.)
If we use the latest voyager in the demo (without a fixed version) it would b

[2022-05-31 11:36] LunaticMuch commented on #227
It is a good proposal. But let me rephrase some of my sentences 😄

I am not suggesting to remove the demo and scrap the website. There's a massive value with that.
I am suggesting to split this monorepo into two repos: one repo is the library, the other is the website.

The library should be just the library, with the goal to visualize a graphql schema; this should be testable without making vario

[2022-06-02 05:19] Dhivakar19 opened #231 "facing issue while running the code"
![issue](https://user-images.githubusercontent.com/32618944/171558039-941e5e4b-a1b1-49da-aa84-6cb328656e85.PNG)

[2022-06-03 10:09] Dhivakar19 commented on #231
@LunaticMuch  kindly take the latest from git and npm install and npm start u will face the n-number of issue ..

[2022-06-03 10:19] LunaticMuch commented on #231
I actually face no issue. Two points:
1. I see you're on windows, there might something specific on your environment
2. You should use `npm ci` as `packages-lock.json` is included and this will include all specific versions.
3. You might want to share the version of `node` and `npm` you are using and the complete stack of your `npm ci` and `npm run start` command.

[code]

[2022-06-03 11:14] Dhivakar19 commented on #231
![node-v](https://user-images.githubusercontent.com/32618944/171843252-af1350a7-d107-4006-a422-2b73e97f20e2.PNG)
![npm start](https://user-images.githubusercontent.com/32618944/171843379-6dc7cd1b-6c5a-49df-a659-d52f3a6cce4a.PNG)

i tried as you said .. but still have the same issue..

[2022-06-03 11:17] LunaticMuch commented on #231
Also, is your clone updated? Additional updates were approved in the last 24 hours.

[2022-06-03 11:28] Dhivakar19 commented on #231
https://github.com/Dhivakar19/gqlpoc

kindly take the code from this file not able to resolve it ..

[2022-06-03 11:50] Dhivakar19 commented on #231
![main](https://user-images.githubusercontent.com/32618944/171848017-2186c90d-fd53-49e5-9a74-528894c6ae9d.PNG)
![mainissue](https://user-images.githubusercontent.com/32618944/171848028-1b74b57f-0a20-497a-b005-446b62e2b25b.PNG)

i cloned the latest one and i did the same process still getting the same error

[2022-06-03 11:57] LunaticMuch commented on #231
I see. Will see whether upgrading webpack and postcss can solve.
Currently it does not reproduce anywhere else; it is probably related to windows only and to browserify

[2022-06-03 11:59] Dhivakar19 commented on #231
kindly guide me to overcome from this issue ..

[2022-06-05 10:55] LunaticMuch commented on #227
@joeponzio I see the value in changing the approach to react.

@IvanGoncharov I can probably take the `ESlint` as next. The ruleset is generally something ending into long (and useless IMO) debates. I would agree with AirBNB

[2022-06-05 20:40] LunaticMuch opened #235 "ESLint as linter"
The roadmap mentioned to adopt `eslint`.  The adoption of `eslint` has definitely a bit value, but it requires the agreement on three major points:

1. Which `eslint` setup shall we have?
2. Which plugins should we use?
3. How _deep_ do we want to go with error fixing?

I did a first test with draft PR #234 and as expected it showed many errors, only 50% fixable.
 @joeponzio [was suggesting](https

[2022-06-08 04:12] Dhivakar19 commented on #231
![node1 0](https://user-images.githubusercontent.com/32618944/172529844-1df8321a-bc77-4ca8-82ac-29398e16b1be.PNG)
![node1 1](https://user-images.githubusercontent.com/32618944/172529853-52828819-4814-42ee-b8f0-4e02dd20462d.PNG)

after upgraded the node to 18.3.0. facing issue in latest code .

[2022-06-08 09:24] Dhivakar19 commented on #231
The Steps i followed is mentioned in attachment .Kindly go through and help us to resolve
![node18](https://user-images.githubusercontent.com/32618944/172581894-02f0adf9-9344-4201-93e5-5ea98794d0df.PNG)

[voyagerSteps.txt](https://github.com/IvanGoncharov/graphql-voyager/files/8860229/voyagerSteps.txt)

[2022-06-09 11:10] Dhivakar19 commented on #231
we tried on mac too with node version of 18.3.0. got the same error
<img width="1728" alt="MicrosoftTeams-image" src="https://user-images.githubusercontent.com/32618944/172833508-e9c25025-7f22-475d-9cf5-703a7e6e21c2.png">

[2022-06-15 08:57] SpiritBob opened #237 "GraphQL Voyager not compliant with latest specs, breaks HotChocolate"
[code]

This was first brought to the attention of the HotChocolate team in https://github.com/ChilliCream/hotchocolate/issues/5154, but it seems that the `__DirectiveArgument` is indeed part of the official spec as an official type, but as a DRAFT feature. Could we please have this fixed? Thanks.

[2022-06-15 09:45] LunaticMuch commented on #237
@SpiritBob which version of Voyager are you using? And how are you using it?

[2022-06-15 12:09] SpiritBob commented on #237
@LunaticMuch I'm using [GraphQL.Server.Ui.Voyager](https://www.nuget.org/packages/GraphQL.Server.Ui.Voyager/6.1.0?_src=template) which is maintained by [GraphQL-DotNet](https://github.com/graphql-dotnet/server). How can I check the version from the UI? The worker file is delivered via a cdn, so I'll toss a [link](https://cdn.jsdelivr.net/npm/graphql-voyager/dist/voyager.worker.js) to that if it he

[2022-06-16 06:10] SpiritBob commented on #237
For example:

[code]

[2022-06-16 15:07] LunaticMuch commented on #237
@SpiritBob correct and because it's draft, it's not usable. `graphql-js` library does not support it. I doubt you can find another supporting it.

You should refrain from using it. If you decide to use it, you need to accept the risk.

[2022-06-16 17:10] #237 closed

[2022-07-13 17:39] isha-talegaonkar opened #238 "Using GraphQL Voyager without the endpoint"
My project does not have a graphql endpoint as such, but a bunch of input graphql schema files that I am getting using an API. I need to visualize the file that I am getting as input. Is there any way to do so?

[2022-07-13 20:08] LunaticMuch commented on #238
@isha-talegaonkar you can build an introspection from file and use it. If you check the demo, you can get some clues on how to make it.

[2022-07-21 14:10] macrozone commented on #187
hi,

wouldn't this be a nice addition to apollo studio anyway? As far as I am aware, there is no visual representation of the graph in apollo studio:

[
<img width="612" alt="Bildschirmfoto 2022-07-21 um 16 08 12" src="https://user-images.githubusercontent.com/1972353/180234408-f89a8681-d15c-48e7-b96f-8a1b4919bb1f.png">
](url)

despite the fact that the icon indicates a graphical representation 😉:

[2022-07-21 14:14] LunaticMuch commented on #187
@macrozone correct, there's not but this should be asked to Apollo directly. Not sure they might want.

[2022-07-21 15:05] macrozone commented on #187
(i mentioned it because @IvanGoncharov works at apollo 🤓 )

[2022-07-21 15:06] LunaticMuch commented on #187
I know, that's why it should be better asked from outside 😉

[2022-07-21 15:12] macrozone commented on #187
true, i opened a FR: https://github.com/apollographql/apollo-feature-requests/issues/337

[2022-07-26 15:28] macrozone opened #242 "poll the schema"
i think voyager is a great tool for developing a schema as well.

it would be great if voyager would poll the endpoint periodically (introspection) and update if there is some change on the schema

[2022-08-01 06:59] LunaticMuch commented on #242
How frequently does the schema get updated? How shall it work?

I build a static view, and it gets rebuilt twice a day. But it's static.

If you have voyager as a library in a simple HTML page which calls the endpoint, you want the HTML page to upgrade every X, not really voyager.

[2022-08-21 15:06] espetro commented on #172
Hi @Booligoosh , I've tried to do that, but although the app doesn't comply, the resulting visualization is quite different from what I inputted:

![](https://i.imgur.com/AoY7oQI.png)

[2022-08-22 08:07] mikaelmattsson opened #243 "Feature Request: Merge two directional relationships"
In our project every relationship can be accessed from both nodes, which creates a lot of extra relationships in the graph that are actually the same relationships. Ideally the relationship should be represented by arrows on both sides, or no arrows, and connected to the correct property.

A problem with this is probably that there is no way to know this by just looking at the introspection. Just

[2022-08-22 08:14] LunaticMuch commented on #243
Logically, you have books and authors to be cross-linked, but physically, you have a field that points to a type.
In a bigger schema with many types, fields and obviously connection, that could become complicate to navigate IMO.

[2022-08-24 09:46] mikaelmattsson commented on #243
We use Voyager to communicate to consumers and I think it is a very good use case for it.
Right now we have a schema that is 30+ types and it will grow a lot more. Right now looking at it there are a lot of relationship lines everywhere and I think this could clean it up and make it easier to navigate.

Simplification of what it looks like now:
<img width="862" alt="Screenshot 2022-08-24 at 11 10

[2022-08-25 07:25] mikaelmattsson commented on #243
Our API is almost CRUD and the Data model and GraphQL are pretty much seamless. But I understand that this does not feel like the purpose of this plugin. Its a shame because this plugin is pretty awesome and and I can't find any other plugin that i could use to solve this. Maybe I will create a fork in the future for this purpose.

And there is no chance that you could make the the component more

[2022-08-25 07:30] LunaticMuch commented on #243
Which technically is not the right pattern. I do not think Voyager should change because an anti pattern does not get rendered well. Voyager renders as GraphQL is defined and supposed to be used, so field points to a type.

The messy set of arrows is possible even following the pattern, but in that case is intended.
Moreover, while a big model can be difficult to navigate, and this does not depend

[2022-09-18 08:27] hinogi opened #245 "FR: Federation and/or multiple graphs/subgraphs"
Are there any plans to add support for working with multiple graphs in the sense of Graphql Federation with distributed graphs where you can see where the dependencies jump to a different graph?
It might be over complicated but usually there is some kind of SDL hint on what graph to jump to.

[2022-09-18 08:34] LunaticMuch commented on #245
That's an interesting point, but not sure how it could be done.

From the top of my mind, if you query the gateway, it won't let you know about subgraph and this is intended.
You could potentially query all subgraphs and put together information, but won't be effective I suspect. I feel the only way would be to manually put together all the schema files and follow where the schema is extended, eva

[2022-09-18 18:13] hinogi commented on #245
It is actually more difficult, you have an SDL and an API. You can see that concept in the seldom known apollo workbench. It holds also information about the name of the subgraphs. In the example the LOCATIONS subgraph is shown. So there is a graph with information on what graphs are available and which field in which graph is external and in which not, it is only one hell of AST crawling away ;)

[2022-10-24 17:06] #114 closed

[2022-11-24 10:08] gpauwen opened #248 "Kali Linux usage"
Hello,

I am a new user, so this is probably a (very) dumb question, but is there a way to install this tool in Kali Linux ? I cloned the package, but could not find any instructions how to install/use it in Kali Linux.